force-app/main/default/flows/Amendment_Collaboration_Updates_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Amd_External_Can_Share_Phenotype_Data</name>
        <label>Amd External Can Share Phenotype Data</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Amendment_Whole_Exome_Sequencing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_External_Can_Share_Phenotype_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_External_Can_Share_Phenotype_Data_1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_External_Can_Share_Phenotype_Data_1</name>
        <label>Amd External Can Share Phenotype Data</label>
        <locationX>182</locationX>
        <locationY>6923</locationY>
        <defaultConnector>
            <targetReference>Amendment_Monogenic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_External_Can_Share_Phenotype_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_External_Can_Share_Phenotype_Data</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_AgeRelated_Macular_Degenerat_n</name>
        <label>Amendment AgeRelated Macular Degenerat&apos;n</label>
        <locationX>182</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Amendment_Autism</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_AgeRelated_Macular_Degeneratn__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppottunity_Age_Related_Macular_Degeneration</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Agnostic_Description</name>
        <label>Amendment Agnostic Description</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Amendment_AgeRelated_Macular_Degenerat_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Agnostic_Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Agnostic_Description</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Autism</name>
        <label>Amendment Autism</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Amendment_Birdshot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Autism__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Autism</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Birdshot</name>
        <label>Amendment Birdshot</label>
        <locationX>182</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Amendment_Cancer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Birdshot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Birdshot</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Cancer</name>
        <label>Amendment Cancer</label>
        <locationX>182</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>Amendment_Chronic_Liver_Disease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Cancer</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Chronic_Liver_Disease</name>
        <label>Amendment Chronic Liver Disease</label>
        <locationX>182</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Amendment_Coronary_Artery_Disease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Chronic_Liver_Disease__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Chronic_Liver_Disease</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_CLIA_Capabilities</name>
        <label>Amendment CLIA Capabilities</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Amendment_Agnostic_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_CLIA_Capabilities__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_CLIA_Capabilities</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Coronary_Artery_Disease</name>
        <label>Amendment Coronary Artery Disease</label>
        <locationX>182</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>Amendment_Diabetic_Retinopathy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Coronary_Artery_Disease__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Coronary_Artery_Disease</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Diabetic_Retinopathy</name>
        <label>Amendment Diabetic Retinopathy</label>
        <locationX>182</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Amendment_Endometriosis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Diabetic_Retinopathy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Diabetic_Retinopathy</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Endometriosis</name>
        <label>Amendment Endometriosis</label>
        <locationX>182</locationX>
        <locationY>4823</locationY>
        <defaultConnector>
            <targetReference>Amendment_Giant_Cell_Arteritis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Endometriosis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Endometriosis</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Genotyping</name>
        <label>Amendment Genotyping</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Amendment_Whole_Genome_Sequencing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Genotyping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Genotyping</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Giant_Cell_Arteritis</name>
        <label>Amendment Giant Cell Arteritis</label>
        <locationX>182</locationX>
        <locationY>5123</locationY>
        <defaultConnector>
            <targetReference>Amendment_Glaucoma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Giant_Cell_Arteritis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Giant_Cell_Arteritis</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Glaucoma</name>
        <label>Amendment Glaucoma</label>
        <locationX>182</locationX>
        <locationY>5423</locationY>
        <defaultConnector>
            <targetReference>Amendment_Hidradenitis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Glaucoma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Glaucoma</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Hidradenitis</name>
        <label>Amendment Hidradenitis</label>
        <locationX>182</locationX>
        <locationY>5723</locationY>
        <defaultConnector>
            <targetReference>Amendment_Inflammatory_Bowel_Disease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Hidradenitis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Hidradenitis</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_HLA_Typing</name>
        <label>Amendment HLA Typing</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Amendment_Genotyping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_HLA_Typing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_HLA_Typing</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Inflammatory_Bowel_Disease</name>
        <label>Amendment Inflammatory Bowel Disease</label>
        <locationX>182</locationX>
        <locationY>6023</locationY>
        <defaultConnector>
            <targetReference>Amendment_Longevity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Inflammatory_Bowel_Disease__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Inflammatory_Bowel_Disease</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Longevity</name>
        <label>Amendment Longevity</label>
        <locationX>182</locationX>
        <locationY>6323</locationY>
        <defaultConnector>
            <targetReference>Amendment_Lupus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Longevity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Longevity</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Lupus</name>
        <label>Amendment Lupus</label>
        <locationX>182</locationX>
        <locationY>6623</locationY>
        <defaultConnector>
            <targetReference>Amd_External_Can_Share_Phenotype_Data_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Lupus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Lupus</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Monogenic</name>
        <label>Amendment Monogenic</label>
        <locationX>182</locationX>
        <locationY>7223</locationY>
        <defaultConnector>
            <targetReference>Amendment_Multiple_Sclerosis_M</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Monogenic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Monogenic</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Multiple_Sclerosis_M</name>
        <label>Amendment Multiple Sclerosis (M)</label>
        <locationX>182</locationX>
        <locationY>7523</locationY>
        <defaultConnector>
            <targetReference>Amendment_Parkinson_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Multiple_Sclerosis_M__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Multiple_Sclerosis_M</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Parkinson_s</name>
        <label>Amendment Parkinson&apos;s</label>
        <locationX>182</locationX>
        <locationY>7823</locationY>
        <defaultConnector>
            <targetReference>Amendment_Primary_Biliary_Cholangitis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Parkinsons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Parkinson_s</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Primary_Biliary_Cholangitis</name>
        <label>Amendment Primary Biliary Cholangitis</label>
        <locationX>182</locationX>
        <locationY>8123</locationY>
        <defaultConnector>
            <targetReference>Amendment_Psoriasis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Primary_Biliary_Cholangitis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Primary_Biliary_Cholangitis</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Psoriasis</name>
        <label>Amendment Psoriasis</label>
        <locationX>182</locationX>
        <locationY>8423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Psoriasis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Psoriasis</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_RNA_Sequencing</name>
        <label>Amendment RNA Sequencing</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Amendment_CLIA_Capabilities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_RNA_Sequencing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RNA_Sequencing</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Whole_Exome_Sequencing</name>
        <label>Amendment Whole Exome Sequencing</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Amendment_HLA_Typing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Whole_Exome_Sequencing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Whole_Exome_Sequencing</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Whole_Genome_Sequencing</name>
        <label>Amendment Whole Genome Sequencing</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Amendment_RNA_Sequencing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Whole_Genome_Sequencing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Whole_Genome_Sequencing</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NXC10013-37 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amendment Collaboration Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Agnostic_Description</name>
        <label>Update Opportunity Agnostic Description</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Amendment_AgeRelated_Macular_Degenerat_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agnostic__c</field>
            <value>
                <elementReference>$Record.Amendment_Agnostic_Description__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Autism</name>
        <label>Update Opportunity Autism</label>
        <locationX>50</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>Amendment_Birdshot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Autism__c</field>
            <value>
                <elementReference>$Record.Amendment_Autism__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Birdshot</name>
        <label>Update Opportunity Birdshot</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Amendment_Cancer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birdshot__c</field>
            <value>
                <elementReference>$Record.Amendment_Birdshot__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Cancer</name>
        <label>Update Opportunity Cancer</label>
        <locationX>50</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>Amendment_Chronic_Liver_Disease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancer__c</field>
            <value>
                <elementReference>$Record.Amendment_Cancer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Chronic_Liver_Disease</name>
        <label>Update Opportunity Chronic Liver Disease</label>
        <locationX>50</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>Amendment_Coronary_Artery_Disease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chronic_Liver_Disease__c</field>
            <value>
                <elementReference>$Record.Amendment_Chronic_Liver_Disease__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_CLIA_Capabilities</name>
        <label>Update Opportunity CLIA Capabilities</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Amendment_Agnostic_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLIA_Capabilities__c</field>
            <value>
                <elementReference>$Record.Amendment_CLIA_Capabilities__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Coronary_Artery_Disease</name>
        <label>Update Opportunity Coronary Artery Disease</label>
        <locationX>50</locationX>
        <locationY>4331</locationY>
        <connector>
            <targetReference>Amendment_Diabetic_Retinopathy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAD__c</field>
            <value>
                <elementReference>$Record.Amendment_Coronary_Artery_Disease__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Diabetic_Retinopathy</name>
        <label>Update Opportunity Diabetic Retinopathy</label>
        <locationX>50</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Amendment_Endometriosis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Diabetic_retinopathy__c</field>
            <value>
                <elementReference>$Record.Amendment_Diabetic_Retinopathy__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Endometriosis</name>
        <label>Update Opportunity Endometriosis</label>
        <locationX>50</locationX>
        <locationY>4931</locationY>
        <connector>
            <targetReference>Amendment_Giant_Cell_Arteritis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Endometriosis__c</field>
            <value>
                <elementReference>$Record.Amendment_Endometriosis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_External_Can_Share_Phenotype_Data</name>
        <label>Update Opportunity External Can Share Phenotype Data</label>
        <locationX>50</locationX>
        <locationY>7031</locationY>
        <connector>
            <targetReference>Amendment_Monogenic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Can_Share_Phenotype_Data__c</field>
            <value>
                <elementReference>$Record.Amd_External_Can_Share_Phenotype_Data__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_External_Can_Share_Phenotype_Data_1</name>
        <label>Update Opportunity External Can Share Phenotype Data</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Amendment_Whole_Exome_Sequencing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Can_Share_Phenotype_Data__c</field>
            <value>
                <elementReference>$Record.Amd_External_Can_Share_Phenotype_Data__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Genotyping</name>
        <label>Update Opportunity Genotyping</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Amendment_Whole_Genome_Sequencing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Genotyping__c</field>
            <value>
                <elementReference>$Record.Amendment_Genotyping__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Giant_Cell_Arteritis</name>
        <label>Update Opportunity Giant Cell Arteritis</label>
        <locationX>50</locationX>
        <locationY>5231</locationY>
        <connector>
            <targetReference>Amendment_Glaucoma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Giant_Cell_Arteritis__c</field>
            <value>
                <elementReference>$Record.Amendment_Giant_Cell_Arteritis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Glaucoma</name>
        <label>Update Opportunity Glaucoma</label>
        <locationX>50</locationX>
        <locationY>5531</locationY>
        <connector>
            <targetReference>Amendment_Hidradenitis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Glaucoma__c</field>
            <value>
                <elementReference>$Record.Amendment_Glaucoma__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Hidradenitis</name>
        <label>Update Opportunity Hidradenitis</label>
        <locationX>50</locationX>
        <locationY>5831</locationY>
        <connector>
            <targetReference>Amendment_Inflammatory_Bowel_Disease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hidradenitis__c</field>
            <value>
                <elementReference>$Record.Amendment_Hidradenitis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_HLA_Typing</name>
        <label>Update Opportunity HLA Typing</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Amendment_Genotyping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HLA_Typing__c</field>
            <value>
                <elementReference>$Record.Amendment_HLA_Typing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Inflammatory_Bowel_Disease</name>
        <label>Update Opportunity Inflammatory Bowel Disease</label>
        <locationX>50</locationX>
        <locationY>6131</locationY>
        <connector>
            <targetReference>Amendment_Longevity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inflammatory_Bowel_Disease__c</field>
            <value>
                <elementReference>$Record.Amendment_Inflammatory_Bowel_Disease__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Longevity</name>
        <label>Update Opportunity Longevity</label>
        <locationX>50</locationX>
        <locationY>6431</locationY>
        <connector>
            <targetReference>Amendment_Lupus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Longevity__c</field>
            <value>
                <elementReference>$Record.Amendment_Inflammatory_Bowel_Disease__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Lupus</name>
        <label>Update Opportunity Lupus</label>
        <locationX>50</locationX>
        <locationY>6731</locationY>
        <connector>
            <targetReference>Amd_External_Can_Share_Phenotype_Data_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lupus__c</field>
            <value>
                <elementReference>$Record.Amendment_Lupus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Monogenic</name>
        <label>Update Opportunity Monogenic</label>
        <locationX>50</locationX>
        <locationY>7331</locationY>
        <connector>
            <targetReference>Amendment_Multiple_Sclerosis_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monogenic__c</field>
            <value>
                <elementReference>$Record.Amendment_Monogenic__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Multiple_Sclerosis_M</name>
        <label>Update Opportunity Multiple Sclerosis (M)</label>
        <locationX>50</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>Amendment_Parkinson_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Multiple_Sclerosis__c</field>
            <value>
                <elementReference>$Record.Amendment_Multiple_Sclerosis_M__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Parkinson_s</name>
        <label>Update Opportunity Parkinson&apos;s</label>
        <locationX>50</locationX>
        <locationY>7931</locationY>
        <connector>
            <targetReference>Amendment_Primary_Biliary_Cholangitis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parkinson_s__c</field>
            <value>
                <elementReference>$Record.Amendment_Parkinsons__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Primary_Biliary_Cholangitis</name>
        <label>Update Opportunity Primary Biliary Cholangitis</label>
        <locationX>50</locationX>
        <locationY>8231</locationY>
        <connector>
            <targetReference>Amendment_Psoriasis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Biliary_Cholangitis__c</field>
            <value>
                <elementReference>$Record.Amendment_Primary_Biliary_Cholangitis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Psoriasis</name>
        <label>Update Opportunity Psoriasis</label>
        <locationX>50</locationX>
        <locationY>8531</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Psoriasis__c</field>
            <value>
                <elementReference>$Record.Amendment_Psoriasis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RNA_Sequencing</name>
        <label>Update Opportunity RNA Sequencing</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Amendment_CLIA_Capabilities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RNA_Sequencing__c</field>
            <value>
                <elementReference>$Record.Amendment_RNA_Sequencing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Whole_Exome_Sequencing</name>
        <label>Update Opportunity Whole Exome Sequencing</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Amendment_HLA_Typing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Whole_Exome_Sequencing__c</field>
            <value>
                <elementReference>$Record.Amendment_Whole_Exome_Sequencing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Whole_Genome_Sequencing</name>
        <label>Update Opportunity Whole Genome Sequencing</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Amendment_RNA_Sequencing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Whole_Genome_Sequencing__c</field>
            <value>
                <elementReference>$Record.Amendment_Whole_Genome_Sequencing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppottunity_Age_Related_Macular_Degeneration</name>
        <label>Update Oppottunity Age-Related Macular Degeneration</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Amendment_Autism</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AMD__c</field>
            <value>
                <elementReference>$Record.Amendment_AgeRelated_Macular_Degeneratn__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Amd_External_Can_Share_Phenotype_Data</targetReference>
        </connector>
        <object>Amendment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
