force-app/main/default/flows/Amendment_Collaboration_Updates_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Amd_Analysis_Lmtd_to_Described_Phenotype</name>
        <label>Amd Analysis Lmtd to Described Phenotype</label>
        <locationX>182</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Perform_Phenotype_Analyses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_Analysis_Lmtd_to_Described_Phenotype__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Analysis_Limited_to_Described_Phenotype</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_Ext_Can_Share_Results_w_Acad_Source</name>
        <label>Amd Ext Can Share Results w/ Acad Source</label>
        <locationX>182</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Amd_Ext_Can_Share_Results_w_Comm_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_36</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_Ext_Can_Share_Results_w_Acad_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Ext_Can_Share_Results_w_Acad_Source</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_Ext_Can_Share_Results_w_Comm_Source</name>
        <label>Amd Ext Can Share Results w/ Comm Source</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Perform_Meta_Analyses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_Ext_Can_Share_Results_w_Comm_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Ext_Can_Share_Results_w_Comm_Source</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_External_Can_Share_Genomic_Data</name>
        <label>Amd External Can Share Genomic Data</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Amd_Ext_Can_Share_Results_w_Acad_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_External_Can_Share_Genomic_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_External_Can_Share_Genomic_Data</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Perform_Mega_Analyses</name>
        <label>Amd RGC Can Perform Mega Analyses</label>
        <locationX>182</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>Amd_Analysis_Lmtd_to_Described_Phenotype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Perform_Mega_Analyses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Perform_Mega_Analyses</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Perform_Meta_Analyses</name>
        <label>Amd RGC Can Perform Meta Analyses</label>
        <locationX>182</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Perform_Mega_Analyses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_38</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Perform_Meta_Analyses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Perform_Meta_Analyses</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Perform_Phenotype_Analyses</name>
        <label>Amd RGC Can Perform Phenotype Analyses</label>
        <locationX>182</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Req_to_Share_Results_with_Collab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Perform_Phenotype_Analyses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Perform_Phenotype_Analyses</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Share_Genomic_Data</name>
        <label>Amd RGC Can Share Genomic Data</label>
        <locationX>182</locationX>
        <locationY>5423</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Share_Results_w_Acad_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Share_Genomic_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Share_Genomic_Data</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Share_Phenotype_Data</name>
        <label>Amd RGC Can Share Phenotype Data</label>
        <locationX>182</locationX>
        <locationY>5123</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Share_Genomic_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_44</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Share_Phenotype_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Share_Phenotype_Data</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Share_Results_w_Acad_Source</name>
        <label>Amd RGC Can Share Results w/ Acad Source</label>
        <locationX>182</locationX>
        <locationY>5723</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Share_Results_w_Comm_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_46</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Share_Results_w_Acad_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Share_Results_w_Acad_Source</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Share_Results_w_Comm_Source</name>
        <label>Amd RGC Can Share Results w/ Comm Source</label>
        <locationX>182</locationX>
        <locationY>6023</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Share_Results_with_Collab_r</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Share_Results_w_Comm_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Share_Results_w_Comm_Source</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Share_Results_with_Collab_r</name>
        <label>Amd RGC Can Share Results with Collab&apos;r</label>
        <locationX>182</locationX>
        <locationY>6323</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_To_Return_Destroy_Sample_at_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_48</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Share_Results_with_Collabr__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Share_Results_with_Collaborator</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Can_Upload_Results_to_RGC_Dbases</name>
        <label>Amd RGC Can Upload Results to RGC Dbases</label>
        <locationX>182</locationX>
        <locationY>4823</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Share_Phenotype_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Can_Upload_Results_to_RGC_Dbases__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Can_Upload_Results_to_RGC_Databases_1_Type</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Must_Delete_Genomic_Data_at_Term</name>
        <label>Amd RGC Must Delete Genomic Data at Term</label>
        <locationX>182</locationX>
        <locationY>6923</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_To_Delete_Phenotype_Data_at_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Must_Delete_Genomic_Data_at_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Must_Delete_Genomic_Data_at_Term</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_Req_to_Share_Results_with_Collab</name>
        <label>Amd RGC Req to Share Results with Collab</label>
        <locationX>182</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Can_Upload_Results_to_RGC_Dbases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_42</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_Req_to_Share_Results_with_Collab__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Req_to_Share_Results_with_Collab</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_To_Delete_Phenotype_Data_at_Term</name>
        <label>Amd RGC To Delete Phenotype Data at Term</label>
        <locationX>182</locationX>
        <locationY>7223</locationY>
        <defaultConnector>
            <targetReference>Amendment_Prim_Sclerosing_Cholangitis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_51</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_To_Delete_Phenotype_Data_at_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Must_Delete_Phenotype_Data_at_Term</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amd_RGC_To_Return_Destroy_Sample_at_Term</name>
        <label>Amd RGC To Return/Destroy Sample at Term</label>
        <locationX>182</locationX>
        <locationY>6623</locationY>
        <defaultConnector>
            <targetReference>Amd_RGC_Must_Delete_Genomic_Data_at_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amd_RGC_To_ReturnDestroy_Sample_at_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_RGC_Must_Return_Destroy_Samples_at_Term</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Keloids</name>
        <label>Amendment Keloids</label>
        <locationX>182</locationX>
        <locationY>7823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_53</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Keloids__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Keloids</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Prim_Sclerosing_Cholangitis</name>
        <label>Amendment Prim. Sclerosing Cholangitis</label>
        <locationX>182</locationX>
        <locationY>7523</locationY>
        <defaultConnector>
            <targetReference>Amendment_Keloids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_52</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Prim_Sclerosing_Cholangitis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Primary_Sclerosing_Cholangitis</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Pulmonary_Arterial_Hypertens_n</name>
        <label>Amendment Pulmonary Arterial Hypertens&apos;n</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Amendment_Renal_Disease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Pulmonary_Arterial_Hypertensn__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Pulmonary_Arterial_Hypertension</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Renal_Disease</name>
        <label>Amendment Renal Disease</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Amendment_Scleroderma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Renal_Disease__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Renal_Disease</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Scleroderma</name>
        <label>Amendment Scleroderma</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Amendment_Stroke</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Scleroderma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Scleroderma</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Stroke</name>
        <label>Amendment Stroke</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Amendment_Systemic_Lupus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Stroke__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Stroke</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Systemic_Lupus</name>
        <label>Amendment Systemic Lupus</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Amendment_Type_1_Diabetes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Systemic_Lupus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Systemic_Lupus</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Type_1_Diabetes</name>
        <label>Amendment Type 1 Diabetes</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Amendment_Vitiligo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Type_1_Diabetes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Type_1_Diabetes</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Vitiligo</name>
        <label>Amendment Vitiligo</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Amd_External_Can_Share_Genomic_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_34</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amendment_Vitiligo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Vitiligo</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Amendment Collaboration Updates Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amendment Collaboration Updates Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Analysis_Limited_to_Described_Phenotype</name>
        <label>Update Opportunity Analysis Limited to Described Phenotype</label>
        <locationX>50</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Perform_Phenotype_Analyses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Analysis_Limited_to_Described_Phenotype__c</field>
            <value>
                <elementReference>$Record.Amd_Analysis_Lmtd_to_Described_Phenotype__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Ext_Can_Share_Results_w_Acad_Source</name>
        <label>Update Opportunity Ext Can Share Results w/ Acad Source</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Amd_Ext_Can_Share_Results_w_Comm_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ext_Can_Share_Results_w_Acad_Source__c</field>
            <value>
                <elementReference>$Record.Amd_Ext_Can_Share_Results_w_Acad_Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Ext_Can_Share_Results_w_Comm_Source</name>
        <label>Update Opportunity Ext Can Share Results w/ Comm Source</label>
        <locationX>50</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Perform_Meta_Analyses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ext_Can_Share_Results_w_Comm_Source__c</field>
            <value>
                <elementReference>$Record.Amd_Ext_Can_Share_Results_w_Comm_Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_External_Can_Share_Genomic_Data</name>
        <label>Update Opportunity External Can Share Genomic Data</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Amd_Ext_Can_Share_Results_w_Acad_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Can_Share_Genomic_Data__c</field>
            <value>
                <elementReference>$Record.Amd_External_Can_Share_Genomic_Data__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Keloids</name>
        <label>Update Opportunity Keloids</label>
        <locationX>50</locationX>
        <locationY>7931</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Keloids__c</field>
            <value>
                <elementReference>$Record.Amendment_Keloids__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Primary_Sclerosing_Cholangitis</name>
        <label>Update Opportunity Primary Sclerosing Cholangitis</label>
        <locationX>50</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>Amendment_Keloids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Sclerosing_Cholangitis__c</field>
            <value>
                <elementReference>$Record.Amendment_Prim_Sclerosing_Cholangitis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Pulmonary_Arterial_Hypertension</name>
        <label>Update Opportunity Pulmonary Arterial Hypertension</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Amendment_Renal_Disease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pulmonary_Arterial_Hypertension__c</field>
            <value>
                <elementReference>$Record.Amendment_Pulmonary_Arterial_Hypertensn__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Renal_Disease</name>
        <label>Update Opportunity Renal Disease</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Amendment_Scleroderma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renal_Disease__c</field>
            <value>
                <elementReference>$Record.Amendment_Renal_Disease__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Perform_Mega_Analyses</name>
        <label>Update Opportunity RGC Can Perform Mega Analyses</label>
        <locationX>50</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>Amd_Analysis_Lmtd_to_Described_Phenotype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Perform_Mega_Analyses__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Perform_Mega_Analyses__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Perform_Meta_Analyses</name>
        <label>Update Opportunity RGC Can Perform Meta Analyses</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Perform_Mega_Analyses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Perform_Meta_Analyses__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Perform_Meta_Analyses__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Perform_Phenotype_Analyses</name>
        <label>Update Opportunity RGC Can Perform Phenotype Analyses</label>
        <locationX>50</locationX>
        <locationY>4331</locationY>
        <connector>
            <targetReference>Amd_RGC_Req_to_Share_Results_with_Collab</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Perform_Phenotype_Analyses__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Perform_Phenotype_Analyses__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Share_Genomic_Data</name>
        <label>Update Opportunity RGC Can Share Genomic Data</label>
        <locationX>50</locationX>
        <locationY>5531</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Share_Results_w_Acad_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Share_Genomic_Data__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Share_Genomic_Data__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Share_Phenotype_Data</name>
        <label>Update Opportunity RGC Can Share Phenotype Data</label>
        <locationX>50</locationX>
        <locationY>5231</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Share_Genomic_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Share_Phenotype_Data__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Share_Phenotype_Data__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Share_Results_w_Acad_Source</name>
        <label>Update Opportunity RGC Can Share Results w/ Acad Source</label>
        <locationX>50</locationX>
        <locationY>5831</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Share_Results_w_Comm_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Share_Results_w_Acad_Source__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Share_Results_w_Acad_Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Share_Results_w_Comm_Source</name>
        <label>Update Opportunity RGC Can Share Results w/ Comm Source</label>
        <locationX>50</locationX>
        <locationY>6131</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Share_Results_with_Collab_r</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Share_Results_w_Comm_Source__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Share_Results_w_Comm_Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Share_Results_with_Collaborator</name>
        <label>Update Opportunity RGC Can Share Results with Collaborator</label>
        <locationX>50</locationX>
        <locationY>6431</locationY>
        <connector>
            <targetReference>Amd_RGC_To_Return_Destroy_Sample_at_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Share_Results_with_Collaborator__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Share_Results_with_Collabr__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Can_Upload_Results_to_RGC_Databases_1_Type</name>
        <label>Update Opportunity RGC Can Upload Results to RGC Databases 1 Type</label>
        <locationX>50</locationX>
        <locationY>4931</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Share_Phenotype_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Can_Upload_Results_to_RGC_Databases__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Can_Upload_Results_to_RGC_Dbases__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Must_Delete_Genomic_Data_at_Term</name>
        <label>Update Opportunity RGC Must Delete Genomic Data at Term</label>
        <locationX>50</locationX>
        <locationY>7031</locationY>
        <connector>
            <targetReference>Amd_RGC_To_Delete_Phenotype_Data_at_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Must_Delete_Genomic_Data_at_Term__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Must_Delete_Genomic_Data_at_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Must_Delete_Phenotype_Data_at_Term</name>
        <label>Update Opportunity RGC Must Delete Phenotype Data at Term</label>
        <locationX>50</locationX>
        <locationY>7331</locationY>
        <connector>
            <targetReference>Amendment_Prim_Sclerosing_Cholangitis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Must_Delete_Phenotype_Data_at_Term__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_To_Delete_Phenotype_Data_at_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Must_Return_Destroy_Samples_at_Term</name>
        <label>Update Opportunity RGC Must Return/Destroy Samples at Term</label>
        <locationX>50</locationX>
        <locationY>6731</locationY>
        <connector>
            <targetReference>Amd_RGC_Must_Delete_Genomic_Data_at_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Must_Return_Destroy_Samples_at_Term__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_To_ReturnDestroy_Sample_at_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_RGC_Req_to_Share_Results_with_Collab</name>
        <label>Update Opportunity RGC Req to Share Results with Collab</label>
        <locationX>50</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Amd_RGC_Can_Upload_Results_to_RGC_Dbases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RGC_Required_to_Share_Results_w_Collab__c</field>
            <value>
                <elementReference>$Record.Amd_RGC_Req_to_Share_Results_with_Collab__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Scleroderma</name>
        <label>Update Opportunity Scleroderma</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Amendment_Stroke</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scleroderma__c</field>
            <value>
                <elementReference>$Record.Amendment_Scleroderma__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stroke</name>
        <label>Update Opportunity Stroke</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Amendment_Systemic_Lupus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stroke__c</field>
            <value>
                <elementReference>$Record.Amendment_Stroke__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Systemic_Lupus</name>
        <label>Update Opportunity Systemic Lupus</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Amendment_Type_1_Diabetes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Systemic_Lupus__c</field>
            <value>
                <elementReference>$Record.Amendment_Systemic_Lupus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Type_1_Diabetes</name>
        <label>Update Opportunity Type 1 Diabetes</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Amendment_Vitiligo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type_1_Diabetes__c</field>
            <value>
                <elementReference>$Record.Amendment_Type_1_Diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Vitiligo</name>
        <label>Update Opportunity Vitiligo</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Amd_External_Can_Share_Genomic_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vitiligo__c</field>
            <value>
                <elementReference>$Record.Amendment_Vitiligo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Amendment_Pulmonary_Arterial_Hypertens_n</targetReference>
        </connector>
        <object>Amendment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
