force-app/main/default/flows/Amendment_Termination_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Amendments</name>
        <label>Assign Amendments</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>CountAmendments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Amendments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerminationDateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Amendment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Termination_Date_Flag</name>
        <label>Update Termination Date Flag</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>TerminationDateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Amendments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amendment_Count</name>
        <label>Check Amendment Count</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_GT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAmendments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Amendments</targetReference>
            </connector>
            <label>Count GT 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Termination_Date</name>
        <label>Check Termination Date</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Amendments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Termination_Date_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Amendments.Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TerminationDateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collab_Oppty</targetReference>
            </connector>
            <label>Termination Date Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Termination_Date_Flag</name>
        <label>Check Termination Date Flag</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerminationDateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Collab_Oppty_Termination_Date</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <interviewLabel>Amendment Termination Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amendment Termination Date - Update</label>
    <loops>
        <name>Loop_Over_Amendments</name>
        <label>Loop Over Amendments</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_All_Amendments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Termination_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Termination_Date_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Amendments</name>
        <label>Get All Amendments</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Collab_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Collaboration_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Amendment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Termination_Date__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Collab_Oppty</name>
        <label>Get Collab Oppty</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Amendments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Empty_Collab_Oppty_Termination_Date</name>
        <label>Empty Collab Oppty Termination Date</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Collab_Oppty.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_End_Date__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collab_Oppty</name>
        <label>Update Collab Oppty</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Termination_Date_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Collab_Oppty.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_End_Date__c</field>
            <value>
                <elementReference>Loop_Over_Amendments.Termination_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Amendments</targetReference>
        </connector>
        <object>Amendment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountAmendments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TerminationDateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
