force-app/main/default/flows/Assigning_Link_on_Deep_Dive_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assigning_Link</name>
        <label>Assigning Link</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>LinkAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Link</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>LEFT(
    RIGHT({!$Record.Link_to_deck__c}, LEN({!$Record.Link_to_deck__c}) - (FIND(&apos;&lt;a href=&quot;&apos;, {!$Record.Link_to_deck__c}) + 8)), 
    FIND(&apos;&quot;&apos;, RIGHT({!$Record.Link_to_deck__c}, LEN({!$Record.Link_to_deck__c}) - (FIND(&apos;&lt;a href=&quot;&apos;, {!$Record.Link_to_deck__c}) + 8))) - 1
)</expression>
    </formulas>
    <interviewLabel>Assigning Link on Deep Dive Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigning Link on Deep Dive Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Link</name>
        <label>Update Link</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Link__c</field>
            <value>
                <elementReference>LinkAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>TFA_Look_Up_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigning_Link</targetReference>
        </connector>
        <object>TFA_Look_Up_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LinkAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
