force-app/main/default/flows/Budget_Details_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_PBO_Associate</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email to PBO Associate</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_to_PBO_Associate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_to_PBO_Associate</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_Budget_Details_Team</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Budget Details Notifications</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_to_Budget_Details_Team</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_to_Budget_Details_Team</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>PBO Notification If Budget Updates</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Budget Details Update</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>

AND(   ISBLANK([Opportunity].Budget_Leader__c),
              NOT(   ISBLANK( [Opportunity].PBO_Associate__c)),
            [Opportunity].RecordType.Name = &quot;Single Institution Collaboration Opportunity&quot;,
OR(
    OR(

      ISCHANGED([Opportunity].Total_Cost_Collaborator_Proposed__c),
      ISCHANGED([Opportunity].Cost_per_Year_Collaborator_Proposed__c),
      ISCHANGED([Opportunity].Total_Cost_Agreed__c),
      ISCHANGED([Opportunity].Cost_per_Year_Agreed__c),
      ISCHANGED([Opportunity].Total_Cost_RGC_Proposed__c),
      ISCHANGED([Opportunity].Cost_per_Year_RGC_Proposed__c)
      ),
     AND(
       ISNEW(),
       NOT(ISBLANK([Opportunity].Total_Cost_Collaborator_Proposed__c)),
       NOT(ISBLANK([Opportunity].Cost_per_Year_Collaborator_Proposed__c)),
       NOT(ISBLANK([Opportunity].Total_Cost_Agreed__c)),
       NOT(ISBLANK([Opportunity].Cost_per_Year_Agreed__c)),
       NOT(ISBLANK([Opportunity].Total_Cost_RGC_Proposed__c)),
       NOT(ISBLANK([Opportunity].Cost_per_Year_RGC_Proposed__c))
      )
  ),
  OR(
NOT(ISBLANK([Opportunity].RGC_Champion__c )),
NOT(ISBLANK( [Opportunity].RGC_Co_Champion__c )),
NOT(ISBLANK([Opportunity].PBO_Associate__c)),
NOT(ISBLANK([Opportunity].RPM_Leader__c )),
NOT(ISBLANK( [Opportunity].Legal_Leader__c )),
NOT(ISBLANK( [Opportunity].Budget_Leader__c )),
NOT(ISBLANK( [Opportunity].RGC_Co_Champion1__c )),
NOT(ISBLANK( [Opportunity].RGC_Co_Champion2__c )) )
  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>

AND(   ISBLANK({!myVariable_current.Budget_Leader__c}),
              NOT(   ISBLANK( {!myVariable_current.PBO_Associate__c})),
            {!myVariable_current.RecordType.Name} = &quot;Single Institution Collaboration Opportunity&quot;,
OR(
    OR(

      ISCHANGED({!myVariable_current.Total_Cost_Collaborator_Proposed__c}),
      ISCHANGED({!myVariable_current.Cost_per_Year_Collaborator_Proposed__c}),
      ISCHANGED({!myVariable_current.Total_Cost_Agreed__c}),
      ISCHANGED({!myVariable_current.Cost_per_Year_Agreed__c}),
      ISCHANGED({!myVariable_current.Total_Cost_RGC_Proposed__c}),
      ISCHANGED({!myVariable_current.Cost_per_Year_RGC_Proposed__c})
      ),
     AND(
       ISNEW(),
       NOT(ISBLANK({!myVariable_current.Total_Cost_Collaborator_Proposed__c})),
       NOT(ISBLANK({!myVariable_current.Cost_per_Year_Collaborator_Proposed__c})),
       NOT(ISBLANK({!myVariable_current.Total_Cost_Agreed__c})),
       NOT(ISBLANK({!myVariable_current.Cost_per_Year_Agreed__c})),
       NOT(ISBLANK({!myVariable_current.Total_Cost_RGC_Proposed__c})),
       NOT(ISBLANK({!myVariable_current.Cost_per_Year_RGC_Proposed__c}))
      )
  ),
  OR(
NOT(ISBLANK({!myVariable_current.RGC_Champion__c} )),
NOT(ISBLANK( {!myVariable_current.RGC_Co_Champion__c} )),
NOT(ISBLANK({!myVariable_current.PBO_Associate__c})),
NOT(ISBLANK({!myVariable_current.RPM_Leader__c} )),
NOT(ISBLANK( {!myVariable_current.Legal_Leader__c} )),
NOT(ISBLANK( {!myVariable_current.Budget_Leader__c} )),
NOT(ISBLANK( {!myVariable_current.RGC_Co_Champion1__c} )),
NOT(ISBLANK( {!myVariable_current.RGC_Co_Champion2__c} )) )
  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (NOT(IsBlank([Opportunity].Budget_Leader__c)),
 

    OR(

      ISCHANGED([Opportunity].Total_Cost_Collaborator_Proposed__c),
      ISCHANGED([Opportunity].Cost_per_Year_Collaborator_Proposed__c),
      ISCHANGED([Opportunity].Total_Cost_Agreed__c),
      ISCHANGED([Opportunity].Cost_per_Year_Agreed__c),
      ISCHANGED([Opportunity].Total_Cost_RGC_Proposed__c),
      ISCHANGED([Opportunity].Cost_per_Year_RGC_Proposed__c)
      )

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND (NOT(IsBlank({!myVariable_current.Budget_Leader__c})),
 

    OR(

      ISCHANGED({!myVariable_current.Total_Cost_Collaborator_Proposed__c}),
      ISCHANGED({!myVariable_current.Cost_per_Year_Collaborator_Proposed__c}),
      ISCHANGED({!myVariable_current.Total_Cost_Agreed__c}),
      ISCHANGED({!myVariable_current.Cost_per_Year_Agreed__c}),
      ISCHANGED({!myVariable_current.Total_Cost_RGC_Proposed__c}),
      ISCHANGED({!myVariable_current.Cost_per_Year_RGC_Proposed__c})
      )

)</expression>
    </formulas>
    <interviewLabel>Budget_Details_Notification-4_InterviewLabel</interviewLabel>
    <label>Budget Details Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
