force-app/main/default/flows/Collaboration_Type_Scope_Description_RGCTeam_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_CreatedDate</name>
        <label>Check CreatedDate</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUserCreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CollaborationDescriptionFrmula</name>
        <dataType>String</dataType>
        <expression>LEFT((IF({!$Record.Agnostic__c}, &quot;Agnostic; &quot;, &quot;&quot;) &amp;
IF({!$Record.AMD__c} , &quot;Age-Related Macular Degeneration; &quot;, &quot;&quot;) &amp;
IF({!$Record.Autism__c} , &quot;Autism; &quot;, &quot;&quot;) &amp;
IF({!$Record.Birdshot__c} , &quot;Birdshot; &quot;, &quot;&quot;) &amp;
IF({!$Record.Cancer__c} , &quot;Cancer; &quot;, &quot;&quot;) &amp;
IF({!$Record.Chronic_Liver_Disease__c} , &quot;Chronic Liver Disease; &quot;, &quot;&quot;) &amp;
IF({!$Record.CAD__c} , &quot;Coronary Artery Disease; &quot;, &quot;&quot;) &amp;
IF({!$Record.Diabetic_retinopathy__c} , &quot;Diabetic Retinopathy; &quot;, &quot;&quot;) &amp;
IF({!$Record.Endometriosis__c} , &quot;Endometriosis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Giant_Cell_Arteritis__c} , &quot;Giant Cell Arteritis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Glaucoma__c} , &quot;Glaucoma; &quot;, &quot;&quot;)&amp;
IF({!$Record.Hidradenitis__c} , &quot;Hidradenitis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Keloids__c} , &quot;Keloids; &quot;, &quot;&quot;)&amp;
IF({!$Record.Longevity__c} , &quot;Longevity; &quot;, &quot;&quot;)&amp;
IF({!$Record.Lupus__c} , &quot;Lupus; &quot;, &quot;&quot;)&amp;
IF({!$Record.Monogenic__c} , &quot;Monogenic; &quot;, &quot;&quot;)&amp;
IF({!$Record.Multiple_Sclerosis__c} , &quot;Multiple Sclerosis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Parkinson_s__c} , &quot;Parkinson&apos;s; &quot;, &quot;&quot;)&amp;
IF({!$Record.Primary_Biliary_Cholangitis__c} , &quot;Primary Biliary Cholangitis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Primary_Sclerosing_Cholangitis__c} , &quot;Primary Sclerosing Cholangitis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Psoriasis__c} , &quot;Psoriasis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Pulmonary_Arterial_Hypertension__c} , &quot;Pulmonary Arterial Hypertension; &quot;, &quot;&quot;)&amp;
IF({!$Record.Renal_Disease__c} , &quot;Renal Disease; &quot;, &quot;&quot;)&amp;
IF({!$Record.Scleroderma__c} , &quot;Scleroderma; &quot;, &quot;&quot;)&amp;
IF({!$Record.Stroke__c} , &quot;Stroke; &quot;, &quot;&quot;)&amp;
IF({!$Record.Systemic_Lupus__c} , &quot;Systemic Lupus; &quot;, &quot;&quot;)&amp;
IF({!$Record.Type_1_Diabetes__c} , &quot;Type 1 Diabetes; &quot;, &quot;&quot;)&amp;
IF({!$Record.Vitiligo__c} , &quot;Vitiligo; &quot;, &quot;&quot;)&amp;
IF({!$Record.Description_Other__c} , &quot;Other; &quot;, &quot;&quot;)&amp;
IF({!$Record.Inflammatory_Bowel_Disease__c} , &quot;Inflammatory Bowel Disease; &quot;, &quot;&quot;)),
LEN(IF({!$Record.Agnostic__c}, &quot;Agnostic; &quot;, &quot;&quot;) &amp;
IF({!$Record.AMD__c} , &quot;Age-Related Macular Degeneration; &quot;, &quot;&quot;) &amp;
IF({!$Record.Autism__c} , &quot;Autism; &quot;, &quot;&quot;) &amp;
IF({!$Record.Birdshot__c} , &quot;Birdshot; &quot;, &quot;&quot;) &amp;
IF({!$Record.Cancer__c} , &quot;Cancer; &quot;, &quot;&quot;) &amp;
IF({!$Record.Chronic_Liver_Disease__c} , &quot;Chronic Liver Disease; &quot;, &quot;&quot;) &amp;
IF({!$Record.CAD__c} , &quot;Coronary Artery Disease; &quot;, &quot;&quot;) &amp;
IF({!$Record.Diabetic_retinopathy__c} , &quot;Diabetic Retinopathy; &quot;, &quot;&quot;) &amp;
IF({!$Record.Endometriosis__c} , &quot;Endometriosis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Giant_Cell_Arteritis__c} , &quot;Giant Cell Arteritis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Glaucoma__c} , &quot;Glaucoma; &quot;, &quot;&quot;)&amp;
IF({!$Record.Hidradenitis__c} , &quot;Hidradenitis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Keloids__c} , &quot;Keloids; &quot;, &quot;&quot;)&amp;
IF({!$Record.Longevity__c} , &quot;Longevity; &quot;, &quot;&quot;)&amp;
IF({!$Record.Lupus__c} , &quot;Lupus; &quot;, &quot;&quot;)&amp;
IF({!$Record.Monogenic__c} , &quot;Monogenic; &quot;, &quot;&quot;)&amp;
IF({!$Record.Multiple_Sclerosis__c} , &quot;Multiple Sclerosis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Parkinson_s__c} , &quot;Parkinson&apos;s;&quot;, &quot;&quot;)&amp;
IF({!$Record.Primary_Biliary_Cholangitis__c} , &quot;Primary Biliary Cholangitis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Primary_Sclerosing_Cholangitis__c} , &quot;Primary Sclerosing Cholangitis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Psoriasis__c} , &quot;Psoriasis;&quot;, &quot;&quot;)&amp;
IF({!$Record.Pulmonary_Arterial_Hypertension__c} , &quot;Pulmonary Arterial Hypertension; &quot;, &quot;&quot;)&amp;
IF({!$Record.Renal_Disease__c} , &quot;Renal Disease; &quot;, &quot;&quot;)&amp;
IF({!$Record.Scleroderma__c} , &quot;Scleroderma; &quot;, &quot;&quot;)&amp;
IF({!$Record.Stroke__c} , &quot;Stroke; &quot;, &quot;&quot;)&amp;
IF({!$Record.Systemic_Lupus__c} , &quot;Systemic Lupus; &quot;, &quot;&quot;)&amp;
IF({!$Record.Type_1_Diabetes__c} , &quot;Type 1 Diabetes; &quot;, &quot;&quot;)&amp;
IF({!$Record.Vitiligo__c} , &quot;Vitiligo; &quot;, &quot;&quot;)&amp;
IF({!$Record.Description_Other__c} , &quot;Other; &quot;, &quot;&quot;)&amp;
IF({!$Record.Inflammatory_Bowel_Disease__c} , &quot;Inflammatory Bowel Disease; &quot;, &quot;&quot;)) )</expression>
    </formulas>
    <formulas>
        <name>scopeFormula</name>
        <dataType>String</dataType>
        <expression>LEFT((IF({!$Record.Whole_Exome_Sequencing__c}, &quot;Whole Exome Sequencing; &quot;, &quot;&quot;) &amp;
IF({!$Record.Whole_Genome_Sequencing__c} , &quot;Whole Genome Sequencing; &quot;, &quot;&quot;) &amp;
IF({!$Record.Genotyping__c} , &quot;Genotyping; &quot;, &quot;&quot;) &amp;
IF({!$Record.HLA_Typing__c} , &quot;HLA Typing; &quot;, &quot;&quot;) &amp;
IF({!$Record.RNA_Sequencing__c} , &quot;RNA Sequencing; &quot;, &quot;&quot;)&amp;
IF({!$Record.Scope_Other__c} , &quot;Other; &quot;, &quot;&quot;)),
LEN(IF({!$Record.Whole_Exome_Sequencing__c}, &quot;Whole Exome Sequencing; &quot;, &quot;&quot;) &amp;
IF({!$Record.Whole_Genome_Sequencing__c} , &quot;Whole Genome Sequencing; &quot;, &quot;&quot;) &amp;
IF({!$Record.Genotyping__c} , &quot;Genotyping; &quot;, &quot;&quot;) &amp;
IF({!$Record.HLA_Typing__c} , &quot;HLA Typing; &quot;, &quot;&quot;) &amp;
IF({!$Record.RNA_Sequencing__c} , &quot;RNA Sequencing; &quot;, &quot;&quot;)&amp;
IF({!$Record.Scope_Other__c} , &quot;Other; &quot;, &quot;&quot;))-2 )</expression>
    </formulas>
    <formulas>
        <name>tagTeamFormula</name>
        <dataType>String</dataType>
        <expression>LEFT((IF({!$Record.Neuro__c}, &quot;Neuro; &quot;, &quot;&quot;) &amp;
IF({!$Record.All__c} , &quot;Agnostic; &quot;, &quot;&quot;) &amp;
IF({!$Record.M_M__c} , &quot;M&amp;M; &quot;, &quot;&quot;) &amp;
IF({!$Record.Ophthal__c} , &quot;Ophthal; &quot;, &quot;&quot;) &amp;
IF({!$Record.I_O__c} , &quot;I/O; &quot;, &quot;&quot;)&amp;
IF({!$Record.I_I__c} , &quot;I&amp;I; &quot;, &quot;&quot;)&amp;
IF({!$Record.SD__c} , &quot;SD; &quot;, &quot;&quot;)&amp;
IF({!$Record.FSP__c} , &quot;FSP; &quot;, &quot;&quot;)&amp;
IF({!$Record.RGC_Other__c} , &quot;Other; &quot;, &quot;&quot;)&amp;
IF({!$Record.CVD_F__c} , &quot;CVD/F; &quot;, &quot;&quot;)),
LEN(IF({!$Record.Neuro__c}, &quot;Neuro; &quot;, &quot;&quot;) &amp;
IF({!$Record.All__c} , &quot;Agnostic; &quot;, &quot;&quot;) &amp;
IF({!$Record.M_M__c} , &quot;M&amp;M; &quot;, &quot;&quot;) &amp;
IF({!$Record.Ophthal__c} , &quot;Ophthal; &quot;, &quot;&quot;) &amp;
IF({!$Record.I_O__c} , &quot;I/O; &quot;, &quot;&quot;)&amp;
IF({!$Record.I_I__c} , &quot;I&amp;I; &quot;, &quot;&quot;)&amp;
IF({!$Record.SD__c} , &quot;SD; &quot;, &quot;&quot;)&amp;
IF({!$Record.FSP__c} , &quot;FSP; &quot;, &quot;&quot;)&amp;
IF({!$Record.RGC_Other__c} , &quot;Other; &quot;, &quot;&quot;)&amp;
IF({!$Record.CVD_F__c} , &quot;CVD/F; &quot;, &quot;&quot;))-2 )</expression>
    </formulas>
    <formulas>
        <name>tftBiologyFormula</name>
        <dataType>String</dataType>
        <expression>LEFT((
IF({!$Record.Agnostic_TFA_Biology__c} , &quot;Agnostic; &quot;, &quot;&quot;) &amp;
IF({!$Record.Immune_Respiratory__c}, &quot;Immune &amp; Respiratory; &quot;, &quot;&quot;) &amp;
IF({!$Record.Infectious_Diseases__c} , &quot;Infectious Diseases; &quot;, &quot;&quot;) &amp;
IF({!$Record.Neurosciences__c} , &quot;Neurosciences; &quot;, &quot;&quot;) &amp;
IF({!$Record.Ophthalmology__c} , &quot;Ophthalmology; &quot;, &quot;&quot;) &amp;
IF({!$Record.Oncology__c} , &quot;Oncology; &quot;, &quot;&quot;) &amp;
IF({!$Record.Cardiovascular_Fibrosis__c} , &quot;Cardiovascular/Fibrosis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Muscle_Metabolism__c} , &quot;Muscle &amp; Metabolism; &quot;, &quot;&quot;) &amp;
IF({!$Record.Skeletal_Diseases__c} , &quot;Skeletal Diseases; &quot;, &quot;&quot;) &amp;
IF({!$Record.Aging__c} , &quot;Aging; &quot;, &quot;&quot;) &amp;
IF({!$Record.Biology_Other__c} , &quot;Other; &quot;, &quot;&quot;)),
LEN(
IF({!$Record.Agnostic_TFA_Biology__c} , &quot;Agnostic; &quot;, &quot;&quot;) &amp;
IF({!$Record.Immune_Respiratory__c}, &quot;Immune &amp; Respiratory; &quot;, &quot;&quot;) &amp;
IF({!$Record.Infectious_Diseases__c} , &quot;Infectious Diseases; &quot;, &quot;&quot;) &amp;
IF({!$Record.Neurosciences__c} , &quot;Neurosciences; &quot;, &quot;&quot;) &amp;
IF({!$Record.Ophthalmology__c} , &quot;Ophthalmology; &quot;, &quot;&quot;) &amp;
IF({!$Record.Oncology__c} , &quot;Oncology; &quot;, &quot;&quot;) &amp;
IF({!$Record.Cardiovascular_Fibrosis__c} , &quot;Cardiovascular/Fibrosis; &quot;, &quot;&quot;)&amp;
IF({!$Record.Muscle_Metabolism__c} , &quot;Muscle &amp; Metabolism; &quot;, &quot;&quot;) &amp;
IF({!$Record.Skeletal_Diseases__c} , &quot;Skeletal Diseases; &quot;, &quot;&quot;) &amp;
IF({!$Record.Aging__c} , &quot;Aging; &quot;, &quot;&quot;) &amp;
IF({!$Record.Biology_Other__c} , &quot;Other; &quot;, &quot;&quot;))-2 )</expression>
    </formulas>
    <formulas>
        <name>typeFormula</name>
        <dataType>String</dataType>
        <expression>LEFT((IF({!$Record.Phenotype_Specific__c}, &quot;Phenotype-Specific; &quot;, &quot;&quot;) &amp;
IF({!$Record.Large_Population__c} , &quot;Large Population; &quot;, &quot;&quot;) &amp;
IF({!$Record.Founder_Special_Population__c} , &quot;Founder/Special Population; &quot;, &quot;&quot;) &amp;
IF({!$Record.Mendelian__c} , &quot;Mendelian; &quot;, &quot;&quot;)&amp;
IF({!$Record.Other__c} , &quot;Other; &quot;, &quot;&quot;)),
LEN(IF({!$Record.Phenotype_Specific__c}, &quot;Phenotype-Specific; &quot;, &quot;&quot;) &amp;
IF({!$Record.Large_Population__c} , &quot;Large Population; &quot;, &quot;&quot;) &amp;
IF({!$Record.Founder_Special_Population__c} , &quot;Founder/Special Population; &quot;, &quot;&quot;) &amp;
IF({!$Record.Mendelian__c} , &quot;Mendelian; &quot;, &quot;&quot;)&amp;
IF({!$Record.Health_System__c}, &quot;Health System; &quot;, &quot;&quot;)&amp;
IF({!$Record.Strategic_Initiatives__c} , &quot;Strategic Initiatives; &quot;, &quot;&quot;)&amp;
IF({!$Record.Other__c} , &quot;Other; &quot;, &quot;&quot;))-2 )</expression>
    </formulas>
    <interviewLabel>Collaboration Type_Scope_Description_RGCTeam Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collaboration Type_Scope_Description_RGCTeam Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CreatedDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>currentUserCreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Collaboration_Description_Text__c</field>
            <value>
                <elementReference>CollaborationDescriptionFrmula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Scope_Text__c</field>
            <value>
                <elementReference>scopeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Type_Text__c</field>
            <value>
                <elementReference>typeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Teams_Text__c</field>
            <value>
                <elementReference>tagTeamFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TFA_Biology_Text__c</field>
            <value>
                <elementReference>tftBiologyFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentUserCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
