force-app/main/default/flows/Collaborator_Key_field_is_updated_email_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Collaborator_Key_Update_Alert</name>
        <label>Collaborator Key Update Alert</label>
        <locationX>182</locationX>
        <locationY>581</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checks_the_EHR_Data_Available_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jason.mighty@regeneron.com, jeffrey.staples@regeneron.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Collaborator Key Update Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_new_record_or_old_record</name>
        <label>Check new record or old record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>checks_the_EHR_Data_Available_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaborator_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collaborator_Key_Update_Alert</targetReference>
            </connector>
            <label>New record</label>
        </rules>
        <rules>
            <name>Old_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaborator_Key__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaborator_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collaborator_Key_Update_Alert</targetReference>
            </connector>
            <label>Old record</label>
        </rules>
    </decisions>
    <decisions>
        <name>checks_the_EHR_Data_Available_field</name>
        <label>checks the &quot; EHR Data Available&quot; field</label>
        <locationX>182</locationX>
        <locationY>689</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_collaboration_type_EQUALS_Health_System_or_Health_System_checkbox_is_TRU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Health_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checked_EHR_Data_Available_field</targetReference>
            </connector>
            <label>Primary collaboration type EQUALS &quot;Health System or &quot;Health System&quot; checkbox is TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Recordlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550}))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Collaborator Key field is updated email alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collaborator Key field is updated email alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Checked_EHR_Data_Available_field</name>
        <label>Checked EHR Data Available field</label>
        <locationX>50</locationX>
        <locationY>797</locationY>
        <connector>
            <targetReference>update_Data_Assets_EHR_c_field</targetReference>
        </connector>
        <inputAssignments>
            <field>EHR_Data_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Data_Assets_EHR_c_field</name>
        <label>update Data Assets EHR__c field</label>
        <locationX>50</locationX>
        <locationY>905</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Collaboration_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EHR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Data_Freeze__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_new_record_or_old_record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://rgc--flow.sandbox.file.force.com/servlet/servlet.ImageServer?id=015RK00000121vV&amp;amp;oid=00DRK0000018p9d&amp;amp;lastMod=1708600775000&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email is to you inform you of the following updates in RGC Salesforce.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project Title:                               {!$Record.Project_Title__c}&lt;/p&gt;&lt;p&gt;Collaborator Institution Name:  {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Research Plan Link:                    {!$Record.Research_Plan_Link__c}&lt;/p&gt;&lt;p&gt;Total # Committed:              {!$Record.Total_Committed__c}&lt;/p&gt;&lt;p&gt;Collaborator Key:                       &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Collaborator_Key__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Phenotypes Represented: {!$Record.CV_Signoff_Phenotypes_Represented__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;LINK TO RECORD: {!Recordlink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;RGC RPM Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
