force-app/main/default/flows/CV_SignOff_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>CV_Signoff_Decision_check</name>
        <label>CV Signoff Decision check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Multi_Budget_Updated1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CV_SignOff_Budget_Updated_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CV_SignOff_Budget_Updated_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Update</targetReference>
            </connector>
            <label>Budget Updated Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>CV_SignOff_Updated1</name>
        <label>CV SignOff Updated</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Oppty_Id_Update_for_Dedup1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CV_SignOff_Updated_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SignOff_Updated_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CV_SignOff_Updated</targetReference>
            </connector>
            <label>CV SignOff Updated Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multi_Budget_Updated1</name>
        <label>Multi Budget Updated</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Multi_Record_Updated1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multi_Budget_Updated_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multi_Budget_Updated_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Budget_Updated</targetReference>
            </connector>
            <label>Multi Budget Updated Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multi_Record_Updated1</name>
        <label>Multi Record Updated</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>CV_SignOff_Updated1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multi_Record_Updated_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multi_Record_Updated_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Record_Updated</targetReference>
            </connector>
            <label>Multi Record Updated Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Id_Update_for_Dedup1</name>
        <label>Oppty Id Update for Dedup</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppty_Id_Update_for_Dedup_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpptyIdUpdateforDedup_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Id_Update_for_Dedup</targetReference>
            </connector>
            <label>Oppty Id Update for Dedup Decision</label>
        </rules>
    </decisions>
    <description>CV Signoff Budget Update formula change</description>
    <environments>Default</environments>
    <formulas>
        <name>CV_SignOff_Budget_Updated_Formula</name>
        <dataType>Boolean</dataType>
        <expression>OR(   ISCHANGED( {!$Record.Total_Cost_Agreed__c} ),   ISCHANGED( {!$Record.Total_Amendment_Budget__c} ) )</expression>
    </formulas>
    <formulas>
        <name>CV_SignOff_Updated_4Formula</name>
        <dataType>Currency</dataType>
        <expression>IF(
  AND ( NOT ( ISNULL ( $Record.Total_Cost_Agreed__c )) ,
        NOT ( ISNULL ( $Record.Total_Amendment_Budget__c )) ),
      $Record.Total_Cost_Agreed__c + $Record.Total_Amendment_Budget__c,
  IF ( 
      AND ( ISNULL ( $Record.Total_Cost_Agreed__c ),
            NOT ( ISNULL ( $Record.Total_Amendment_Budget__c )) ),
      0 + $Record.Total_Amendment_Budget__c,
  $Record.Total_Cost_Agreed__c + 0
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Multi_Budget_Updated_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!$Record.Total_Cost_Agreed_RollUp__c})</expression>
    </formulas>
    <formulas>
        <name>Multi_Record_Updated_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND( {!$Record.CV_Signoff_Updated__c} == false, ISCHANGED( {!$Record.Total_Cost_Collaborator_Proposed_RollUp__c} ) )</expression>
    </formulas>
    <formulas>
        <name>OpptyIdUpdateforDedup_Formula</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISNEW(),ISCHANGED({!$Record.Name}), ISCHANGED( {!$Record.AccountId} ))</expression>
    </formulas>
    <formulas>
        <name>SignOff_Updated_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND( {!$Record.CV_Signoff_Updated__c} == false, ISCHANGED( {!$Record.Total_Cost_Collaborator_Proposed__c}) )</expression>
    </formulas>
    <formulas>
        <name>unique_Id_Dedup</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+{!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>CV SignOff Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CV SignOff Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Budget_Update</name>
        <label>Budget Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Multi_Budget_Updated1</targetReference>
        </connector>
        <inputAssignments>
            <field>CV_Signoff_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CV_signoff_Budget__c</field>
            <value>
                <elementReference>CV_SignOff_Updated_4Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CV_SignOff_Updated</name>
        <label>CV SignOff Updated</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Oppty_Id_Update_for_Dedup1</targetReference>
        </connector>
        <inputAssignments>
            <field>CV_signoff_Budget__c</field>
            <value>
                <elementReference>$Record.Total_Cost_Collaborator_Proposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Multi_Budget_Updated</name>
        <label>Multi Budget Updated</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Multi_Record_Updated1</targetReference>
        </connector>
        <inputAssignments>
            <field>CV_Signoff_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CV_signoff_Budget__c</field>
            <value>
                <elementReference>$Record.TOTAL_Collaboration_Budget_M__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Multi_Record_Updated</name>
        <label>Multi Record Updated</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>CV_SignOff_Updated1</targetReference>
        </connector>
        <inputAssignments>
            <field>CV_signoff_Budget__c</field>
            <value>
                <elementReference>$Record.Total_Cost_Collaborator_Proposed_RollUp__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Oppty_Id_Update_for_Dedup</name>
        <label>Oppty Id Update for Dedup</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Collaboration_Oppty_Unique_Id_for_Dup__c</field>
            <value>
                <elementReference>unique_Id_Dedup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CV_Signoff_Decision_check</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>userCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
