force-app/main/default/flows/Operations_Queue_New_Operations_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Rename_New_Record</name>
        <label>Rename New Record</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>New_OQ_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OQ_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Operations_Queue_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>OQ_Name</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()),1, &apos;January&apos;,
2, &apos;February&apos;,
3, &apos;March&apos;,
4, &apos;April&apos;,
5, &apos;May&apos;,
6, &apos;June&apos;,
7, &apos;July&apos;,
8, &apos;August&apos;,
9, &apos;September&apos;,
10, &apos;October&apos;,
11, &apos;November&apos;,
12, &apos;December&apos;,&apos;&apos;
)+&apos; &apos;+TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Operations Queue - New Operations Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Operations Queue - New Operations Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Operations_Queue_Record</name>
        <label>Create Operations Queue Record</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <inputReference>New_OQ_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Record</name>
        <label>Get Last Record</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_New_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operations_Queue__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_of_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Operations_Queue__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-11</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_OQ_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operations_Queue__c</objectType>
    </variables>
</Flow>
