force-app/main/default/flows/phenotype.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>BT</name>
        <choiceText>BT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cohort_1</name>
        <choiceText>Cohort 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cohort 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cohort_2</name>
        <choiceText>Cohort 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cohort 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cohort_3</name>
        <choiceText>Cohort 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cohort 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>QT</name>
        <choiceText>QT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_1</name>
        <choiceText>Stage 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_2</name>
        <choiceText>Stage 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_3</name>
        <choiceText>Stage 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 3</stringValue>
        </value>
    </choices>
    <interviewLabel>phenotype {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>New Phenotype2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Phenotype</name>
        <label>Create New Phenotype</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>successful_message_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cohort__c</field>
            <value>
                <elementReference>Cohort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Dictionary__c</field>
            <value>
                <elementReference>Data_Dictionary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Flow_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Stage__c</field>
            <value>
                <elementReference>Phenotype_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <elementReference>Request_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Phenotype__c</field>
            <value>
                <elementReference>Type_of_Phenotype</elementReference>
            </value>
        </inputAssignments>
        <object>Phenotype_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Phenotype_Request</name>
        <label>New Phenotype Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Phenotype</targetReference>
        </connector>
        <fields>
            <name>New_Phenotype_Request_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; font-family: sans-serif;&quot;&gt;New Phenotype Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;i&gt;Email&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Add your email below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayInstructions_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Current Request Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Here we can place instructions to the user&apos;s in any format.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Status</name>
            <dataType>String</dataType>
            <fieldText>Request Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cohort</name>
            <choiceReferences>Cohort_1</choiceReferences>
            <choiceReferences>Cohort_2</choiceReferences>
            <choiceReferences>Cohort_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cohort</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_RGC_Phenotype_Name</name>
            <dataType>String</dataType>
            <fieldText>Custom RGC Phenotype Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Dictionary</name>
            <dataType>String</dataType>
            <fieldText>Data Dictionary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phenotype_Stage</name>
            <choiceReferences>Stage_1</choiceReferences>
            <choiceReferences>Stage_2</choiceReferences>
            <choiceReferences>Stage_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phenotype Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_of_Phenotype</name>
            <choiceReferences>BT</choiceReferences>
            <choiceReferences>QT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Phenotype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Phenotype_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Phenotype_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Criteria</name>
                    <fieldText>Case Criteria</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Supporting_Documents</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supporting Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.pdf,.doc,.docx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successful_message_0</name>
        <label>successful phenotype created</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>New_PhenoType_Created_Successfully_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;New PhenoType Created Successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Phenotype_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
