force-app/main/default/flows/RGC_Data_Asset_Updates_Data_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Data_asset_owner</name>
        <label>Send Email to Data asset owner</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Related_Data_Asset.Collaboration_Opportunity__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Data Asset Modified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>Updated With Multiple Fields to be updated when RGC data Asset is modified</description>
    <environments>Default</environments>
    <interviewLabel>RGC Data Asset Updates Data Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RGC Data Asset Updates Data Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Data_Asset</name>
        <label>Get Related Data Asset</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Data_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Data_Asset_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Data_Freeze__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Data_Asset</name>
        <label>Update Related Data Asset</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Email_to_Data_asset_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Data_Asset_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clinical_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Clinical_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Phenotype_Data_Receipt__c</field>
            <value>
                <elementReference>$Record.Date_of_Phenotype_Data_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA_completed_Registration__c</field>
            <value>
                <elementReference>$Record.Projected_Registration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Phenotype_Freeze_Name__c</field>
            <value>
                <elementReference>$Record.Latest_Phenotype_Freeze_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Comments__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Location__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Received__c</field>
            <value>
                <elementReference>$Record.Collaborator_Phenotype_Data_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Matrices__c</field>
            <value>
                <elementReference>$Record.Phenotype_Matrices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Matrix_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Projected_Matrix_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raw_phenotype_data_DNAnexus_project_loca__c</field>
            <value>
                <elementReference>$Record.Raw_phenotype_data_DNAnexus_project_loca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vetted_to_Production_Status__c</field>
            <value>
                <elementReference>$Record.Vetted_to_Production_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Data_Freeze__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Data_Asset</targetReference>
        </connector>
        <object>RGC_Data_Assets__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>HI {!Get_Related_Data_Asset.Collaboration_Opportunity__r.OwnerId},
Data Asset - {!Get_Related_Data_Asset.Genetic_Freeze_name__c} Has been modified.</text>
    </textTemplates>
</Flow>
