force-app/main/default/flows/RGC_Collaboration_Details_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check If There is Existing RGC Collaboration Detail</description>
        <name>Check_If_There_is_Existing_RGC_Collaboration_Detail</name>
        <label>Check If There is Existing RGC Collaboration Detail</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_RGC_Collaborator_Detail_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RGC_Collaboration_Detail_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RGC_Collaboration_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RGC_Collaboration_Detail_Record</targetReference>
            </connector>
            <label>RGC Collaboration Detail Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Created_or_Updated</name>
        <label>Opportunity Record Created or Updated</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_If_There_is_Existing_RGC_Collaboration_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RGC_Collaboration_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RGC_Collaborator_Detail_Record</targetReference>
            </connector>
            <label>Opportunity Record Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RGC Collaboration Details Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RGC Collaboration Details Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_RGC_Collaborator_Detail_Record</name>
        <label>Copy 1 of Create RGC Collaborator Detail Record</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cohort_Description__c</field>
            <value>
                <elementReference>$Record.Cohort_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Description_Other__c</field>
            <value>
                <elementReference>$Record.Collaboration_Description_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Status__c</field>
            <value>
                <elementReference>$Record.Collaboration_Status_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Institution_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Key__c</field>
            <value>
                <elementReference>$Record__Prior.Collaborator_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Sample_Origin__c</field>
            <value>
                <elementReference>$Record.Country_of_Sample_Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Active_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_System__c</field>
            <value>
                <elementReference>$Record.Health_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_DNAnexus_Project__c</field>
            <value>
                <elementReference>$Record.Link_to_DNAnexus_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Data_Dictionary__c</field>
            <value>
                <elementReference>$Record.Link_to_Data_Dictionary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Collaboration_Type__c</field>
            <value>
                <elementReference>$Record.Primary_Collaboration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TAG_Team__c</field>
            <value>
                <elementReference>$Record.TAG_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TFABiology__c</field>
            <value>
                <elementReference>$Record.TFA_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Plan_Link__c</field>
            <value>
                <elementReference>$Record.Research_Plan_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_Aims__c</field>
            <value>
                <elementReference>$Record.Specific_Aims__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Study_Rationale__c</field>
            <value>
                <elementReference>$Record.Study_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Committed__c</field>
            <value>
                <elementReference>$Record.Total_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <object>RGC_Collaboration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RGC_Collaborator_Detail_Record</name>
        <label>Create RGC Collaborator Detail Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cohort_Description__c</field>
            <value>
                <elementReference>$Record.Cohort_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Description_Other__c</field>
            <value>
                <elementReference>$Record.Collaboration_Description_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Status__c</field>
            <value>
                <elementReference>$Record.Collaboration_Status_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Institution_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Key__c</field>
            <value>
                <elementReference>$Record__Prior.Collaborator_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Sample_Origin__c</field>
            <value>
                <elementReference>$Record.Country_of_Sample_Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Active_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_System__c</field>
            <value>
                <elementReference>$Record.Health_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_DNAnexus_Project__c</field>
            <value>
                <elementReference>$Record.Link_to_DNAnexus_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Data_Dictionary__c</field>
            <value>
                <elementReference>$Record.Link_to_Data_Dictionary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Collaboration_Type__c</field>
            <value>
                <elementReference>$Record.Primary_Collaboration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TAG_Team__c</field>
            <value>
                <elementReference>$Record.TAG_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TFABiology__c</field>
            <value>
                <elementReference>$Record.TFA_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Plan_Link__c</field>
            <value>
                <elementReference>$Record.Research_Plan_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_Aims__c</field>
            <value>
                <elementReference>$Record.Specific_Aims__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Study_Rationale__c</field>
            <value>
                <elementReference>$Record.Study_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Committed__c</field>
            <value>
                <elementReference>$Record.Total_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <object>RGC_Collaboration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RGC_Collaboration_Detail</name>
        <label>RGC Collaboration Detail</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Record_Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Collaboration_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RGC_Collaboration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RGC_Collaboration_Detail_Record</name>
        <label>Update RGC Collaboration Detail Record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Collaboration_Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaborator_Institution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaboration_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cohort_Description__c</field>
            <value>
                <elementReference>$Record.Cohort_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Description_Other__c</field>
            <value>
                <elementReference>$Record.Collaboration_Description_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Status__c</field>
            <value>
                <elementReference>$Record.Collaboration_Status_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Institution_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Key__c</field>
            <value>
                <elementReference>$Record.Collaborator_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Sample_Origin__c</field>
            <value>
                <elementReference>$Record.Country_of_Sample_Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Active_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_System__c</field>
            <value>
                <elementReference>$Record.Health_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_DNAnexus_Project__c</field>
            <value>
                <elementReference>$Record.Link_to_DNAnexus_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Data_Dictionary__c</field>
            <value>
                <elementReference>$Record.Link_to_Data_Dictionary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Collaboration_Type__c</field>
            <value>
                <elementReference>$Record.Primary_Collaboration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TAG_Team__c</field>
            <value>
                <elementReference>$Record.TAG_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_TFABiology__c</field>
            <value>
                <elementReference>$Record.TFA_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Plan_Link__c</field>
            <value>
                <elementReference>$Record.Research_Plan_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_Aims__c</field>
            <value>
                <elementReference>$Record.Specific_Aims__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Study_Rationale__c</field>
            <value>
                <elementReference>$Record.Study_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Committed__c</field>
            <value>
                <elementReference>$Record.Total_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <object>RGC_Collaboration__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RGC_Collaboration_Detail</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
