force-app/main/default/flows/RGC_Salesforce_Support_notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_RGC_Salesforce_Request</name>
        <label>New RGC Salesforce Request</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <actionName>RGC_Salesforce_Support__c.New_RGC_Salesforce_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>RGC_Support_Request_Received</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RGC_Salesforce_Support__c.New_RGC_Salesforce_Request</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RGC_Support_Request_Assigned</name>
        <label>RGC Support Request Assigned</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>RGC_Salesforce_Support__c.RGC_Support_Request_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RGC_Salesforce_Support__c.RGC_Support_Request_Assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RGC_Support_Request_Assigned2</name>
        <label>RGC Support Request Assigned</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>RGC_Salesforce_Support__c.RGC_Support_Request_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RGC_Salesforce_Support__c.RGC_Support_Request_Assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RGC_Support_Request_Closed</name>
        <label>RGC Support Request Closed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>RGC_Salesforce_Support__c.RGC_Support_Request_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RGC_Salesforce_Support__c.RGC_Support_Request_Closed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RGC_Support_Request_Received</name>
        <label>RGC Support Request Received</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <actionName>RGC_Salesforce_Support__c.RGC_Support_Request_Received</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Checking_is_new_and_Assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RGC_Salesforce_Support__c.RGC_Support_Request_Received</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Checking_for_Conditions</name>
        <label>Checking for Conditions</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Status_Closed</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RGC_Support_Request_Closed</targetReference>
            </connector>
            <label>Internal Status Closed</label>
        </rules>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_RGC_Salesforce_Request</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
        <rules>
            <name>Is_New_and_Assigned_to_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RGC_Support_Request_Assigned2</targetReference>
            </connector>
            <label>Is New and Assigned to Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_is_new_and_Assigned</name>
        <label>Checking is new and Assigned</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_and_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RGC_Support_Request_Assigned</targetReference>
            </connector>
            <label>Is new and Assigned</label>
        </rules>
    </decisions>
    <description>Migrated from WorkFlow rules - RGC Support Request Closed- Alert
RGC Support Request Created- Alert
RGC Support Ticket Assigned</description>
    <environments>Default</environments>
    <interviewLabel>RGC Salesforce Support notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RGC Salesforce Support notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_for_Conditions</targetReference>
        </connector>
        <object>RGC_Salesforce_Support__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
