force-app/main/default/flows/Single_To_Multi_Institution_Collaboration_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Single To Multi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single To Multi Institution Collaboration Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCollabDetails</name>
        <label>createCollabDetails</label>
        <locationX>470</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ABAC_Compliance__c</field>
            <value>
                <elementReference>getOpportunity.ABAC_Compliance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_RCA_Components_Completed__c</field>
            <value>
                <elementReference>getOpportunity.All_RCA_Components_Completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Agreement__c</field>
            <value>
                <elementReference>getOpportunity.Budget_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Assessment__c</field>
            <value>
                <elementReference>getOpportunity.Budget_Assessment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Itemization_Information_Available__c</field>
            <value>
                <elementReference>getOpportunity.Budget_Itemization_Information_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CV_Signoff_at_ROP__c</field>
            <value>
                <elementReference>getOpportunity.Research_Plan_Approved_by_RGC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Archived_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Archived_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Prospective__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Prospective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Received_Committed__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Received_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Received_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Received_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Sequenced_Committed__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Sequenced_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Sequenced_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Cases_Sequenced_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_Status__c</field>
            <value>
                <elementReference>getOpportunity.Collaboration_Status_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Institution__c</field>
            <value>
                <elementReference>getOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Archived_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Archived_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Prospective__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Prospective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Received_Committed__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Received_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Received_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Received_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Sequenced_Committed__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Sequenced_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Sequenced_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Controls_Sequenced_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_per_Year_Agreed__c</field>
            <value>
                <elementReference>getOpportunity.Cost_per_Year_Agreed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_per_Year_Collaborator_Proposed__c</field>
            <value>
                <elementReference>getOpportunity.Cost_per_Year_Collaborator_Proposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_per_Year_RGC_Proposed__c</field>
            <value>
                <elementReference>getOpportunity.Cost_per_Year_RGC_Proposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Sample_Origin_US_Non_US__c</field>
            <value>
                <elementReference>getOpportunity.Country_of_Sample_Origin_US_Non_US__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Sample_Origin_global__c</field>
            <value>
                <elementReference>getOpportunity.Country_of_Sample_Origin_Global__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Sample_Shipment_Origin_global__c</field>
            <value>
                <elementReference>getOpportunity.Country_of_Sample_Shipment_Origin_global__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Shipment_Origin_US_Non_US__c</field>
            <value>
                <elementReference>getOpportunity.COSO_US_Non_US__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Freeze__c</field>
            <value>
                <elementReference>getOpportunity.Data_Freeze__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exome_Sequencing_Complete__c</field>
            <value>
                <elementReference>getOpportunity.Exome_sequencing_complete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finalize_Research_Plan__c</field>
            <value>
                <elementReference>getOpportunity.Finalize_Research_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Pass_Analysis__c</field>
            <value>
                <elementReference>getOpportunity.First_Pass_Analysis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_available__c</field>
            <value>
                <elementReference>getOpportunity.Funds_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Data_Role__c</field>
            <value>
                <elementReference>getOpportunity.GDPR_DataRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genomic_Informatics_Transfer_Approved__c</field>
            <value>
                <elementReference>getOpportunity.Genomic_Informatics_Transfer_Approved__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genotyping_Complete__c</field>
            <value>
                <elementReference>getOpportunity.Genotyping_Complete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICF_Status__c</field>
            <value>
                <elementReference>getOpportunity.ICF_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICFs_Available__c</field>
            <value>
                <elementReference>getOpportunity.ICFs_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICFs_Ready_for_Legal_Review__c</field>
            <value>
                <elementReference>getOpportunity.ICFs_Ready_for_Legal_Review__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IRB_Protocol_Status__c</field>
            <value>
                <elementReference>getOpportunity.IRB_Protocol_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informed_Consent_Forms_Approved__c</field>
            <value>
                <elementReference>getOpportunity.Informed_Consent_Forms_Approved__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informed_Consent_Forms__c</field>
            <value>
                <elementReference>getOpportunity.Informed_Consent_Forms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Discussions__c</field>
            <value>
                <elementReference>getOpportunity.Initial_Discussions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Received__c</field>
            <value>
                <elementReference>getOpportunity.Phenotype_Data_received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Structure_Transfer_Appr__c</field>
            <value>
                <elementReference>getOpportunity.Phenotype_Data_Structure_Transfer_Appr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Matrix__c</field>
            <value>
                <elementReference>getOpportunity.Phenotype_Matrix__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceed_Based_on_Initial_Assessment__c</field>
            <value>
                <elementReference>getOpportunity.Proceed_Based_on_Initial_Assessment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceed_Based_on_research_plan__c</field>
            <value>
                <elementReference>getOpportunity.Proceed_Based_on_Research_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCA_Agreement__c</field>
            <value>
                <elementReference>getOpportunity.Research_Collaboration_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCA_Ready_for_Legal_Review__c</field>
            <value>
                <elementReference>getOpportunity.Collaboration_Agreement_ready_for_Legal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCA_Signatures__c</field>
            <value>
                <elementReference>getOpportunity.RCA_Signatures__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Send_Tubes__c</field>
            <value>
                <elementReference>getOpportunity.Ready_to_Send_Tubes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Plan_Finalized__c</field>
            <value>
                <elementReference>getOpportunity.Research_Plan_Finalized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Plan__c</field>
            <value>
                <elementReference>getOpportunity.Research_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Received__c</field>
            <value>
                <elementReference>getOpportunity.Sample_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Requirements_Approved__c</field>
            <value>
                <elementReference>getOpportunity.Sample_Requirements_Approved__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Sheet_Agreed__c</field>
            <value>
                <elementReference>getOpportunity.Term_Sheet_Agreed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Sheet__c</field>
            <value>
                <elementReference>getOpportunity.Term_Sheet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Sheet_agreed_by_RGC_LT__c</field>
            <value>
                <elementReference>getOpportunity.Term_Sheet_agreed_by_RGC_LT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Archived_RGN_Archived__c</field>
            <value>
                <elementReference>getOpportunity.Total_Archived_RGN_Archived__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Agreed__c</field>
            <value>
                <elementReference>getOpportunity.Total_Cost_Agreed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Collaborator_Proposed__c</field>
            <value>
                <elementReference>getOpportunity.Total_Cost_Collaborator_Proposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_RGC_Proposed__c</field>
            <value>
                <elementReference>getOpportunity.Total_Cost_RGC_Proposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_to_Results_Browser__c</field>
            <value>
                <elementReference>getOpportunity.Uploaded_to_Results_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <object>Collaboration_Details_by_Institution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>395</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCollabDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>597</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cases_Archived_RGN_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Prospective__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Received_Committed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Received_RGN_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Sequenced_Committed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_Sequenced_RGN_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Archived_RGN_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Prospective__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Received_Committed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Received_RGN_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Sequenced_Committed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controls_Sequenced_RGN_Archived__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_per_Year_Agreed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_per_Year_Collaborator_Proposed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_per_Year_RGC_Proposed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122E000000dFe7QAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Agreed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Collaborator_Proposed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_RGC_Proposed__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Convert_to_Multi_Institution_Collaboration</name>
        <label>Convert to Multi Institution Collaboration</label>
        <locationX>206</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <fields>
            <name>scnNext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click Next to convert this Single Institution Collaboration Opportunity to a Multi Institution Collaboration Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>597</locationX>
        <locationY>269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scnFinished</name>
            <fieldText>&lt;p&gt;Your Single Institution Collaboration Opportunity has been converted to a Multi Institution Collaboration Opportunity. Click Finish.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Refresh Collaboration after conversion process is complete. DO NOT CONVERT TWICE - it would result in duplicate records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Convert_to_Multi_Institution_Collaboration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
