force-app/main/default/flows/Termination_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agreement_Terminated_Yesterday</name>
        <label>Agreement Terminated Yesterday</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <actionName>Opportunity.Agreement_Terminated_Yesterday</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Termination_Email_Sent_Yesterday</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agreement_Terminated_Yesterday</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Agreement_Terminating_in_90_Days</name>
        <label>Agreement Terminating in 90 Days</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <actionName>Opportunity.Agreement_Terminating_in_90_Days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Termination_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agreement_Terminating_in_90_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_For_180_Days</name>
        <label>Email For 180 Days</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Opportunity.Agreement_Terminating_in_180_Days_with_Budget</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_email_Sent_to_true_for_180_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agreement_Terminating_in_180_Days_with_Budget</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Terminating_in_180_Days_No_Budgets</name>
        <label>Terminating in 180 Days No Budget</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <actionName>Opportunity.Agreement_Terminating_in_180_Days_No_Budget</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_email_Sent_to_true_for_180_Days_No_budget</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Agreement_Terminating_in_180_Days_No_Budget</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Budget_Checking</name>
        <label>Budget Checking</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Terminating_in_180_Days_No_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminating_in_180_Days_with_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Budget_Master__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Termination_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Days180</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_For_180_Days</targetReference>
            </connector>
            <label>Terminating in 180 Days with Budget</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expiration_Date_Changed</name>
        <label>Expiration Date Changed</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expiration_date_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Sent_to_False</targetReference>
            </connector>
            <label>Expiration date is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terminated_Yesterday</name>
        <label>Terminated Yesterday</label>
        <locationX>2030</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminated_Yesterday_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Termination_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesterdayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Terminated_Yesterday</targetReference>
            </connector>
            <label>Terminated Yesterday True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terminating_in_180_Days_No_Budget</name>
        <label>Terminating in 180 Days No Budget</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Budget_Master__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Termination_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Days180</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminating_in_180_Days_No_Budgets</targetReference>
            </connector>
            <label>No budget</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terminating_in_90_Days</name>
        <label>Terminating in 90 Days</label>
        <locationX>1502</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Termination_in_90_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Termination_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Days90</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Terminating_in_90_Days</targetReference>
            </connector>
            <label>Termination in 90 Days</label>
        </rules>
    </decisions>
    <description>Updated</description>
    <environments>Default</environments>
    <formulas>
        <name>Days180</name>
        <dataType>Date</dataType>
        <expression>TODAY() +180</expression>
    </formulas>
    <formulas>
        <name>Days90</name>
        <dataType>Date</dataType>
        <expression>TODAY()+90</expression>
    </formulas>
    <formulas>
        <name>YesterdayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>Termination Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Termination Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Email_Sent_to_False</name>
        <label>Set Email Sent to False</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Termination_Email_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Termination_Email_Sent</name>
        <label>Termination Email Sent</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Termination_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Termination_Email_Sent_Yesterday</name>
        <label>Termination Email Sent Yesterday</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Termination_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_email_Sent_to_true_for_180_Days</name>
        <label>Update email Sent to true for 180 Days</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Termination_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_email_Sent_to_true_for_180_Days_No_budget</name>
        <label>Update email Sent to true for 180 Days No budget</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Termination_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Expiration_Date_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>After_180_Days</name>
            <connector>
                <targetReference>Budget_Checking</targetReference>
            </connector>
            <label>After 180 Days</label>
            <offsetNumber>-180</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Active_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_90_Days</name>
            <connector>
                <targetReference>Terminating_in_90_Days</targetReference>
            </connector>
            <label>After 90 Days</label>
            <offsetNumber>-90</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Active_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Yesterday</name>
            <connector>
                <targetReference>Terminated_Yesterday</targetReference>
            </connector>
            <label>Yesterday</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Active_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
