force-app/main/default/flows/Update_RGC_Data_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_Admin</name>
        <label>Email To Admin</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforcesupport@ciberspring.com,jason.mighty@regeneron.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>RGC Collaboration Detail Record is not Available</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Checking_if_Collaboration_Opportunity_Available</name>
        <label>Checking if Collaboration Opportunity Available</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Email_To_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RGC_Collaboration_Details_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RGC_Collaborator_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_if_RGC_name_is_changed</targetReference>
            </connector>
            <label>RGC Collaboration Details Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_if_RGC_name_is_changed</name>
        <label>Checking if RGC name is changed</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Updating_RGC_Data_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RGC_Data_Asset_name_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RGC_Data_Assets.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_RGC_Data_Asset_without_Name</targetReference>
            </connector>
            <label>RGC Data Asset name is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Asset_created_or_Updated</name>
        <label>Data Asset created or Updated</label>
        <locationX>347</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Checking_if_Collaboration_Opportunity_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Asset_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RGC_Data_Assets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RGC_data_Asset</targetReference>
            </connector>
            <label>Data Asset Created</label>
        </rules>
    </decisions>
    <description>Updated to align name of child record when parent name changes</description>
    <environments>Default</environments>
    <interviewLabel>Update RGC Data Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update RGC Data Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_RGC_data_Asset</name>
        <label>Create RGC data Asset</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>AGDS_Lead__c</field>
            <value>
                <elementReference>$Record.AGDS_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AllxAll_Completion_Date__c</field>
            <value>
                <elementReference>$Record.AllxAll_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Ready_Datasets__c</field>
            <value>
                <elementReference>$Record.Analysis_Ready_Datasets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assay__c</field>
            <value>
                <elementReference>$Record.Assay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Association_Analysis_Pipeline__c</field>
            <value>
                <elementReference>$Record.Association_Analysis_Pipeline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Association_Run_Status__c</field>
            <value>
                <elementReference>$Record.CEDARS_Feature_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Feature_ID__c</field>
            <value>
                <elementReference>$Record.CEDARS_Feature_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Ingestion_Association_Results__c</field>
            <value>
                <elementReference>$Record.CEDARS_Ingestion_Association_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Registration__c</field>
            <value>
                <elementReference>$Record.CEDARS_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Analyst__c</field>
            <value>
                <elementReference>$Record.CI_Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Clinical_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Phenotype_Data_Received__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNAnexus_ID__c</field>
            <value>
                <elementReference>$Record.DNAnexus_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Asset_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Datasets_Registered__c</field>
            <value>
                <elementReference>$Record.Datasets_Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Phenotype_Data_Receipt__c</field>
            <value>
                <elementReference>$Record.Date_of_Phenotype_Data_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EHR__c</field>
            <value>
                <elementReference>$Record.EHR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Pass_Analysis__c</field>
            <value>
                <elementReference>$Record.First_Pass_Analysis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Freeze_Comments__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Freeze_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Freeze_Date__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Freeze_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Pipeline_Workflow__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Pipeline_Workflow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Processing_Status__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Processing_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Freeze_name__c</field>
            <value>
                <elementReference>$Record.Genetic_Freeze_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genome_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Genome_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genomic_Data_Freeze__c</field>
            <value>
                <elementReference>$Record.Genomic_Data_Freeze__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genotyping__c</field>
            <value>
                <elementReference>$Record.Genotyping__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Self_Reported_Data__c</field>
            <value>
                <elementReference>$Record.Has_Self_Reported_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Imputation_Panel__c</field>
            <value>
                <elementReference>$Record.Imputation_Panel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Updates__c</field>
            <value>
                <elementReference>$Record.Key_Updates__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Results__c</field>
            <value>
                <elementReference>$Record.Lab_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Phenotype_Freeze_Name__c</field>
            <value>
                <elementReference>$Record.Latest_Phenotype_Freeze_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_PheWeb__c</field>
            <value>
                <elementReference>$Record.Link_to_Pheweb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_QC_Report__c</field>
            <value>
                <elementReference>$Record.Link_to_QC_Report__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitudinal__c</field>
            <value>
                <elementReference>$Record.Longitudinal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medications__c</field>
            <value>
                <elementReference>$Record.Medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Binary_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Binary_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Other_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Other_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Quantitative_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Quantitative_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_traits__c</field>
            <value>
                <elementReference>$Record.Number_of_traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMOP_Data_Available__c</field>
            <value>
                <elementReference>$Record.OMOP_Data_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_with_production_phenotype_data__c</field>
            <value>
                <elementReference>$Record.Patients_with_production_phenotype_data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Comments__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Location__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Version__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Dataset_ID__c</field>
            <value>
                <elementReference>$Record.Phenotype_Dataset_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Matrices__c</field>
            <value>
                <elementReference>$Record.Phenotype_Matrices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedures__c</field>
            <value>
                <elementReference>$Record.Procedures__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Asset_Type__c</field>
            <value>
                <elementReference>$Record.Production_Asset_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Matrix_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Projected_Matrix_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Registration_Date__c</field>
            <value>
                <elementReference>$Record.ETA_completed_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Collaboration_Detail__c</field>
            <value>
                <elementReference>Get_RGC_Collaborator_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Related_Data_Assets__c</field>
            <value>
                <elementReference>Get_Related_data_Asset_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raw_phenotype_data_DNAnexus_project_loca__c</field>
            <value>
                <elementReference>$Record.Raw_phenotype_data_DNAnexus_project_loca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Phenotype_Browser__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Phenotype_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Pheweb__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Pheweb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Results_Browser__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Results_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_S3__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_S3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_YOGA__c</field>
            <value>
                <elementReference>$Record.Available_in_YOGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Delivered__c</field>
            <value>
                <elementReference>$Record.Samples_Delivered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Received__c</field>
            <value>
                <elementReference>$Record.Samples_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Sequenced__c</field>
            <value>
                <elementReference>$Record.Samples_Sequenced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequencing_Comments__c</field>
            <value>
                <elementReference>$Record.Sequencing_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequencing_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Sequencing_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Data__c</field>
            <value>
                <elementReference>$Record.Special_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Dx__c</field>
            <value>
                <elementReference>$Record.Standard_Dx__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_AllxAll_association_analyses__c</field>
            <value>
                <elementReference>$Record.Status_of_AllxAll_association_analyses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Lead__c</field>
            <value>
                <elementReference>$Record.TAG_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Samples_Expected_LEGACY__c</field>
            <value>
                <elementReference>$Record.Total_Samples_Expected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_patients_with_phenotype_data__c</field>
            <value>
                <elementReference>$Record.Total_patients_with_phenotype_data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tubes_Sent_to_Collaborator__c</field>
            <value>
                <elementReference>$Record.Tubes_Sent_to_Collaborator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_to_Browsers__c</field>
            <value>
                <elementReference>$Record.Uploaded_to_Browsers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid__c</field>
            <value>
                <elementReference>$Record.Valid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vital_Signs__c</field>
            <value>
                <elementReference>$Record.Vital_Signs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whole_Exome_Sequencing__c</field>
            <value>
                <elementReference>$Record.Whole_Exome_Sequencing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOGA_Pheweb_Ingestion_Status__c</field>
            <value>
                <elementReference>$Record.YOGA_Pheweb_Ingestion_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>RGC_Data_Assets__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_data_Asset_record</name>
        <label>Get Related data Asset record</label>
        <locationX>347</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Asset_created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Asset_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Data_Asset__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Asset_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RGC_Data_Assets__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RGC_Collaborator_Opportunity</name>
        <label>Get RGC Collaborator Opportunity</label>
        <locationX>347</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RGC_Data_Assets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Collaboration_Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaboration_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaboration_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RGC_Collaboration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RGC_Data_Assets</name>
        <label>RGC Data Assets</label>
        <locationX>347</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_data_Asset_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Asset_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RGC_Data_Assets__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_RGC_Data_Asset</name>
        <label>Updating RGC Data Asset</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Asset_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AGDS_Lead__c</field>
            <value>
                <elementReference>$Record.AGDS_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AllxAll_Completion_Date__c</field>
            <value>
                <elementReference>$Record.AllxAll_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Ready_Datasets__c</field>
            <value>
                <elementReference>$Record.Analysis_Ready_Datasets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assay__c</field>
            <value>
                <elementReference>$Record.Assay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Association_Analysis_Pipeline__c</field>
            <value>
                <elementReference>$Record.Association_Analysis_Pipeline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Association_Run_Status__c</field>
            <value>
                <elementReference>$Record.Association_Run_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Feature_ID__c</field>
            <value>
                <elementReference>$Record.CEDARS_Feature_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Ingestion_Association_Results__c</field>
            <value>
                <elementReference>$Record.CEDARS_Ingestion_Association_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Registration__c</field>
            <value>
                <elementReference>$Record.CEDARS_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Analyst__c</field>
            <value>
                <elementReference>$Record.CI_Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Clinical_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Phenotype_Data_Received__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNAnexus_ID__c</field>
            <value>
                <elementReference>$Record.DNAnexus_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Datasets_Registered__c</field>
            <value>
                <elementReference>$Record.Datasets_Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Phenotype_Data_Receipt__c</field>
            <value>
                <elementReference>$Record.Date_of_Phenotype_Data_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EHR__c</field>
            <value>
                <elementReference>$Record.EHR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Pass_Analysis__c</field>
            <value>
                <elementReference>$Record.First_Pass_Analysis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Freeze_Comments__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Freeze_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Freeze_Date__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Freeze_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Pipeline_Workflow__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Pipeline_Workflow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Processing_Status__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Processing_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Freeze_name__c</field>
            <value>
                <elementReference>$Record.Genetic_Freeze_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genome_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Genome_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genomic_Data_Freeze__c</field>
            <value>
                <elementReference>$Record.Genomic_Data_Freeze__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genotyping__c</field>
            <value>
                <elementReference>$Record.Genotyping__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Self_Reported_Data__c</field>
            <value>
                <elementReference>$Record.Has_Self_Reported_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Imputation_Panel__c</field>
            <value>
                <elementReference>$Record.Imputation_Panel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Updates__c</field>
            <value>
                <elementReference>$Record.Key_Updates__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Results__c</field>
            <value>
                <elementReference>$Record.Lab_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Phenotype_Freeze_Name__c</field>
            <value>
                <elementReference>$Record.Latest_Phenotype_Freeze_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_PheWeb__c</field>
            <value>
                <elementReference>$Record.Link_to_Pheweb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_QC_Report__c</field>
            <value>
                <elementReference>$Record.Link_to_QC_Report__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitudinal__c</field>
            <value>
                <elementReference>$Record.Longitudinal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medications__c</field>
            <value>
                <elementReference>$Record.Medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Binary_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Binary_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Other_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Other_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Quantitative_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Quantitative_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_traits__c</field>
            <value>
                <elementReference>$Record.Number_of_traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMOP_Data_Available__c</field>
            <value>
                <elementReference>$Record.OMOP_Data_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_with_production_phenotype_data__c</field>
            <value>
                <elementReference>$Record.Patients_with_production_phenotype_data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Comments__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Location__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Version__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Dataset_ID__c</field>
            <value>
                <elementReference>$Record.Phenotype_Dataset_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Matrices__c</field>
            <value>
                <elementReference>$Record.Phenotype_Matrices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedures__c</field>
            <value>
                <elementReference>$Record.Procedures__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Asset_Type__c</field>
            <value>
                <elementReference>$Record.Production_Asset_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Matrix_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Projected_Matrix_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Registration_Date__c</field>
            <value>
                <elementReference>$Record.ETA_completed_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Collaboration_Detail__c</field>
            <value>
                <elementReference>Get_RGC_Collaborator_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Related_Data_Assets__c</field>
            <value>
                <elementReference>Get_Related_data_Asset_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raw_phenotype_data_DNAnexus_project_loca__c</field>
            <value>
                <elementReference>$Record.Raw_phenotype_data_DNAnexus_project_loca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Phenotype_Browser__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Phenotype_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Pheweb__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Pheweb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Results_Browser__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Results_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_S3__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_S3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_YOGA__c</field>
            <value>
                <elementReference>$Record.Available_in_YOGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Delivered__c</field>
            <value>
                <elementReference>$Record.Samples_Delivered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Received__c</field>
            <value>
                <elementReference>$Record.Samples_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Sequenced__c</field>
            <value>
                <elementReference>$Record.Samples_Sequenced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequencing_Comments__c</field>
            <value>
                <elementReference>$Record.Sequencing_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequencing_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Sequencing_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Data__c</field>
            <value>
                <elementReference>$Record.Special_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Dx__c</field>
            <value>
                <elementReference>$Record.Standard_Dx__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_AllxAll_association_analyses__c</field>
            <value>
                <elementReference>$Record.Status_of_AllxAll_association_analyses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Lead__c</field>
            <value>
                <elementReference>$Record.TAG_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Samples_Expected_LEGACY__c</field>
            <value>
                <elementReference>$Record.Total_Samples_Expected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_patients_with_phenotype_data__c</field>
            <value>
                <elementReference>$Record.Total_patients_with_phenotype_data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tubes_Sent_to_Collaborator__c</field>
            <value>
                <elementReference>$Record.Tubes_Sent_to_Collaborator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_to_Browsers__c</field>
            <value>
                <elementReference>$Record.Uploaded_to_Browsers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid__c</field>
            <value>
                <elementReference>$Record.Valid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vital_Signs__c</field>
            <value>
                <elementReference>$Record.Vital_Signs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whole_Exome_Sequencing__c</field>
            <value>
                <elementReference>$Record.Whole_Exome_Sequencing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOGA_Pheweb_Ingestion_Status__c</field>
            <value>
                <elementReference>$Record.YOGA_Pheweb_Ingestion_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>RGC_Data_Assets__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_RGC_Data_Asset_without_Name</name>
        <label>Updating RGC Data Asset without Name</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Asset_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AGDS_Lead__c</field>
            <value>
                <elementReference>$Record.AGDS_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AllxAll_Completion_Date__c</field>
            <value>
                <elementReference>$Record.AllxAll_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Ready_Datasets__c</field>
            <value>
                <elementReference>$Record.Analysis_Ready_Datasets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assay__c</field>
            <value>
                <elementReference>$Record.Assay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Association_Analysis_Pipeline__c</field>
            <value>
                <elementReference>$Record.Association_Analysis_Pipeline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Association_Run_Status__c</field>
            <value>
                <elementReference>$Record.Association_Run_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Feature_ID__c</field>
            <value>
                <elementReference>$Record.CEDARS_Feature_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Ingestion_Association_Results__c</field>
            <value>
                <elementReference>$Record.CEDARS_Ingestion_Association_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEDARS_Registration__c</field>
            <value>
                <elementReference>$Record.CEDARS_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Analyst__c</field>
            <value>
                <elementReference>$Record.CI_Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Clinical_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Phenotype_Data_Received__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNAnexus_ID__c</field>
            <value>
                <elementReference>$Record.DNAnexus_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Datasets_Registered__c</field>
            <value>
                <elementReference>$Record.Datasets_Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Phenotype_Data_Receipt__c</field>
            <value>
                <elementReference>$Record.Date_of_Phenotype_Data_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EHR__c</field>
            <value>
                <elementReference>$Record.EHR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Pass_Analysis__c</field>
            <value>
                <elementReference>$Record.First_Pass_Analysis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Freeze_Comments__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Freeze_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Freeze_Date__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Freeze_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Pipeline_Workflow__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Pipeline_Workflow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Data_Processing_Status__c</field>
            <value>
                <elementReference>$Record.Genetic_Data_Processing_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genetic_Freeze_name__c</field>
            <value>
                <elementReference>$Record.Genetic_Freeze_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genome_Informatics_Lead__c</field>
            <value>
                <elementReference>$Record.Genome_Informatics_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genomic_Data_Freeze__c</field>
            <value>
                <elementReference>$Record.Genomic_Data_Freeze__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genotyping__c</field>
            <value>
                <elementReference>$Record.Genotyping__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Self_Reported_Data__c</field>
            <value>
                <elementReference>$Record.Has_Self_Reported_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Imputation_Panel__c</field>
            <value>
                <elementReference>$Record.Imputation_Panel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Updates__c</field>
            <value>
                <elementReference>$Record.Key_Updates__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Results__c</field>
            <value>
                <elementReference>$Record.Lab_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Phenotype_Freeze_Name__c</field>
            <value>
                <elementReference>$Record.Latest_Phenotype_Freeze_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_PheWeb__c</field>
            <value>
                <elementReference>$Record.Link_to_Pheweb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_QC_Report__c</field>
            <value>
                <elementReference>$Record.Link_to_QC_Report__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitudinal__c</field>
            <value>
                <elementReference>$Record.Longitudinal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medications__c</field>
            <value>
                <elementReference>$Record.Medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Binary_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Binary_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Other_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Other_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Quantitative_Traits__c</field>
            <value>
                <elementReference>$Record.Number_of_Quantitative_Traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_traits__c</field>
            <value>
                <elementReference>$Record.Number_of_traits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMOP_Data_Available__c</field>
            <value>
                <elementReference>$Record.OMOP_Data_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_with_production_phenotype_data__c</field>
            <value>
                <elementReference>$Record.Patients_with_production_phenotype_data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Comments__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Location__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Data_Version__c</field>
            <value>
                <elementReference>$Record.Phenotype_Data_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Dataset_ID__c</field>
            <value>
                <elementReference>$Record.Phenotype_Dataset_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phenotype_Matrices__c</field>
            <value>
                <elementReference>$Record.Phenotype_Matrices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedures__c</field>
            <value>
                <elementReference>$Record.Procedures__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Asset_Type__c</field>
            <value>
                <elementReference>$Record.Production_Asset_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Matrix_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Projected_Matrix_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Registration_Date__c</field>
            <value>
                <elementReference>$Record.ETA_completed_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Collaboration_Detail__c</field>
            <value>
                <elementReference>Get_RGC_Collaborator_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RGC_Related_Data_Assets__c</field>
            <value>
                <elementReference>Get_Related_data_Asset_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raw_phenotype_data_DNAnexus_project_loca__c</field>
            <value>
                <elementReference>$Record.Raw_phenotype_data_DNAnexus_project_loca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Phenotype_Browser__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Phenotype_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Pheweb__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Pheweb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_Results_Browser__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_Results_Browser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_S3__c</field>
            <value>
                <elementReference>$Record.Results_Available_in_S3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Available_in_YOGA__c</field>
            <value>
                <elementReference>$Record.Available_in_YOGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Delivered__c</field>
            <value>
                <elementReference>$Record.Samples_Delivered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Received__c</field>
            <value>
                <elementReference>$Record.Samples_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samples_Sequenced__c</field>
            <value>
                <elementReference>$Record.Samples_Sequenced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequencing_Comments__c</field>
            <value>
                <elementReference>$Record.Sequencing_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequencing_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Sequencing_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Data__c</field>
            <value>
                <elementReference>$Record.Special_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Dx__c</field>
            <value>
                <elementReference>$Record.Standard_Dx__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_AllxAll_association_analyses__c</field>
            <value>
                <elementReference>$Record.Status_of_AllxAll_association_analyses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Lead__c</field>
            <value>
                <elementReference>$Record.TAG_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Samples_Expected_LEGACY__c</field>
            <value>
                <elementReference>$Record.Total_Samples_Expected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_patients_with_phenotype_data__c</field>
            <value>
                <elementReference>$Record.Total_patients_with_phenotype_data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tubes_Sent_to_Collaborator__c</field>
            <value>
                <elementReference>$Record.Tubes_Sent_to_Collaborator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_to_Browsers__c</field>
            <value>
                <elementReference>$Record.Uploaded_to_Browsers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid__c</field>
            <value>
                <elementReference>$Record.Valid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vital_Signs__c</field>
            <value>
                <elementReference>$Record.Vital_Signs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whole_Exome_Sequencing__c</field>
            <value>
                <elementReference>$Record.Whole_Exome_Sequencing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOGA_Pheweb_Ingestion_Status__c</field>
            <value>
                <elementReference>$Record.YOGA_Pheweb_Ingestion_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>RGC_Data_Assets__c</object>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RGC_Collaborator_Opportunity</targetReference>
        </connector>
        <object>Data_Freeze__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hello System Admin,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For below Collaboration Opportunity, no RGC Collaboration Detail is Available.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;width:100%; border: 1px solid black;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;th style=&quot;border: 1px solid black;&quot;&gt;ID&lt;/th&gt;&lt;th style=&quot;border: 1px solid black;&quot;&gt;Name&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;{!$Record.Id}&lt;/td&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;{!$Record.Collaboration_Opportunity__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Note: This is a system generated email, do not reply to this.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;RGC Collaboration is not Available&lt;/p&gt;</text>
    </textTemplates>
</Flow>
